Repository chrede88/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/talos, area/github

:wrench: fixing typo
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/runners/k8s-runner/helmrelease.yaml
Labels: area/kubernetes

:zap: adding local runner test action
  .github/workflows/local-runner-test.yaml
Labels: area/github

:wrench: changing min runners
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/runners/k8s-runner/helmrelease.yaml
Labels: area/kubernetes

:zap: adding schema action
  .github/workflows/schemas.yaml
Labels: area/github

:wrench: adding more storage to local runner
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/runners/k8s-runner/helmrelease.yaml
Labels: area/kubernetes

:wrench: fixing typo
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/runners/k8s-runner/rbac.yaml
Labels: area/kubernetes

:wrench: update memory query
  cluster/kubernetes/apps/external/kromgo/app/config/config.yaml
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

:wrench: increasing cache for us-gov archive deployment
  cluster/kubernetes/apps/internal/archiveteam/app/deployment.yaml
Labels: area/kubernetes

:wrench: updating rook-ceph image repo
  cluster/kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: updating talos
  docs/update.md
Labels: none

:wrench: updating env for homepage
  cluster/kubernetes/apps/internal/homepage/app/homepage-secret.yaml
Labels: area/kubernetes

:memo: updating network
  network/overview.yaml
Labels: none

:memo: updating network equipment in READMEs
  README.md
  docs/README.md
Labels: none

:wrench: switching to the new homeoperations container images
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/runners/k8s-runner/helmrelease.yaml
  cluster/kubernetes/apps/kube-system/irqbalance/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: automating gateway-api crds
  cluster/kubernetes/apps/kube-system/cilium/crd/crds.yaml
  cluster/kubernetes/apps/kube-system/cilium/crd/gateway-class.yaml
  cluster/kubernetes/apps/kube-system/cilium/crd/gateway.yaml
  cluster/kubernetes/apps/kube-system/cilium/crd/grpc-route.yaml
  cluster/kubernetes/apps/kube-system/cilium/crd/http-route.yaml
  cluster/kubernetes/apps/kube-system/cilium/crd/kustomization.yaml
  cluster/kubernetes/apps/kube-system/cilium/crd/referencegrant.yaml
  cluster/kubernetes/apps/kube-system/cilium/crd/tls-route.yaml
Labels: area/kubernetes

:wrench: add namespace
  cluster/kubernetes/apps/kube-system/cilium/crd/crds.yaml
Labels: area/kubernetes

:wrench: change targetnamespace in ks
  cluster/kubernetes/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes

:wrench: trying to add a path
  cluster/kubernetes/apps/kube-system/cilium/crd/crds.yaml
Labels: area/kubernetes

:wrench: updating the path
  cluster/kubernetes/apps/kube-system/cilium/crd/crds.yaml
Labels: area/kubernetes

:wrench: removing path from ks again
  cluster/kubernetes/apps/kube-system/cilium/crd/crds.yaml
Labels: area/kubernetes

:wrench: remove homebrew dependency for schemas workflow
  .github/workflows/schemas.yaml
Labels: area/github

:wrench: adding 'disableSchemaValidation: true' as a workaround until this gets fixed
  cluster/kubernetes/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes

:wrench: setting dark-mode as default
  cluster/kubernetes/apps/observability/gatus/app/configmap.yaml
Labels: area/kubernetes

:wrench: migrating gha-runner to OCIRepo
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/app/helmrelease.yaml
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/runners/k8s-runner/helmrelease.yaml
  cluster/kubernetes/flux/resources/helm/action-runner-controller.yaml
  cluster/kubernetes/flux/resources/helm/kustomization.yaml
  cluster/kubernetes/flux/resources/oci/gha-runner-scale-set-controller.yaml
  cluster/kubernetes/flux/resources/oci/gha-runner-scale-set.yaml
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
Labels: area/kubernetes

:wrench: migrating flux-operator & external-secrets to OCIRepo
  cluster/kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  cluster/kubernetes/apps/flux-system/flux/flux-operator/helmrelease.yaml
  cluster/kubernetes/flux/resources/helm/external-secrets.yaml
  cluster/kubernetes/flux/resources/helm/flux-operator.yaml
  cluster/kubernetes/flux/resources/helm/kustomization.yaml
  cluster/kubernetes/flux/resources/oci/external-secrets.yaml
  cluster/kubernetes/flux/resources/oci/flux-operator.yaml
  cluster/kubernetes/flux/resources/oci/gha-runner-scale-set-controller.yaml
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
Labels: area/kubernetes

:wrench: migrating onepassword-connect chart to oci
  cluster/kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
  cluster/kubernetes/flux/resources/helm/kustomization.yaml
  cluster/kubernetes/flux/resources/helm/onepassword-connect.yaml
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
  cluster/kubernetes/flux/resources/oci/onepassword-connect.yaml
Labels: area/kubernetes

:wrench: removing reference to the helm resources dir
  cluster/kubernetes/flux/resources/kustomization.yaml
Labels: area/kubernetes

:wrench: fixing typo
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
Labels: area/kubernetes

:wrench: update kube-pro-stack tag
  cluster/kubernetes/flux/resources/oci/kube-prometheus-stack.yaml
Labels: area/kubernetes

feat(qubt): move qubt to app-template
  cluster/kubernetes/apps/external/qubt/app/deployment.yaml
  cluster/kubernetes/apps/external/qubt/app/helmrelease.yaml
  cluster/kubernetes/apps/external/qubt/app/kustomization.yaml
  cluster/kubernetes/apps/external/qubt/app/service.yaml
Labels: area/kubernetes

fix(qubt): correcting imagePullSecrets
  cluster/kubernetes/apps/external/qubt/app/helmrelease.yaml
Labels: area/kubernetes

fix(qubt): changing port name to match httproute
  cluster/kubernetes/apps/external/qubt/app/helmrelease.yaml
Labels: area/kubernetes

fix(qubt): fixing probes
  cluster/kubernetes/apps/external/qubt/app/helmrelease.yaml
Labels: area/kubernetes

fix(qubt): removing probes
  cluster/kubernetes/apps/external/qubt/app/helmrelease.yaml
Labels: area/kubernetes

fix(qubt): removing probes
  cluster/kubernetes/apps/external/qubt/app/helmrelease.yaml
Labels: area/kubernetes

fix(qubt): removing health port from service
  cluster/kubernetes/apps/external/qubt/app/helmrelease.yaml
Labels: area/kubernetes

feat(qubt): revert back to normal deployment
  cluster/kubernetes/apps/external/qubt/app/deployment.yaml
  cluster/kubernetes/apps/external/qubt/app/helmrelease.yaml
  cluster/kubernetes/apps/external/qubt/app/kustomization.yaml
  cluster/kubernetes/apps/external/qubt/app/service.yaml
Labels: area/kubernetes

feat: deploying app-template test
  cluster/kubernetes/apps/internal/kustomization.yaml
  cluster/kubernetes/apps/internal/qubt-test/app/helmrelease.yaml
  cluster/kubernetes/apps/internal/qubt-test/app/kustomization.yaml
  cluster/kubernetes/apps/internal/qubt-test/ks.yaml
Labels: area/kubernetes

feat(qubt): deploy using app-template
  cluster/kubernetes/apps/external/qubt/app/deployment.yaml
  cluster/kubernetes/apps/external/qubt/app/helmrelease.yaml
  cluster/kubernetes/apps/external/qubt/app/kustomization.yaml
  cluster/kubernetes/apps/external/qubt/app/service.yaml
Labels: area/kubernetes

fix(qubt): httproute reference
  cluster/kubernetes/apps/external/qubt/app/helmrelease.yaml
  cluster/kubernetes/apps/external/qubt/ingress/qubt-http-route.yaml
Labels: area/kubernetes

.github/labeler.yaml:

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 'cluster/kubernetes/**/*'

area/talos:
  - changed-files:
      - any-glob-to-any-file: 'cluster/talos/**/*'

area/github:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'
