Repository chrede88/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/github

.github/labeler.yaml:

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: "cluster/kubernetes/**/*"

area/github:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"

:wrench: removing topologySpreadConstraints
  cluster/kubernetes/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: temp removing kromgo
  cluster/kubernetes/observability/kromgo/app/helmrelease.yaml
  cluster/kubernetes/observability/kustomization.yaml
Labels: area/kubernetes

:wrench: trying kromgo again
  cluster/kubernetes/observability/kromgo/app/config/config.yaml
  cluster/kubernetes/observability/kustomization.yaml
Labels: area/kubernetes

:wrench: temp removing kromgo
  cluster/kubernetes/observability/kustomization.yaml
Labels: area/kubernetes

:wrench: trying kromgo again with reduced config
  cluster/kubernetes/observability/kromgo/app/config/config.yaml
  cluster/kubernetes/observability/kustomization.yaml
Labels: area/kubernetes

:wrench: changing port to 8080
  cluster/kubernetes/observability/kromgo/app/helmrelease.yaml
  cluster/kubernetes/observability/kromgo/ingress/kromgo-http-route.yaml
Labels: area/kubernetes

:wrench: adding the full config
  cluster/kubernetes/observability/kromgo/app/config/config.yaml
Labels: area/kubernetes

:wrench: removing debug mode
  cluster/kubernetes/observability/kromgo/app/config/config.yaml
Labels: area/kubernetes

:memo: adding kromgo shields to README
  README.md
Labels: none

:wrench: setting time interval for datasource
  cluster/kubernetes/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: removing dashboard
  cluster/kubernetes/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: removing unused clilum dashboards
  cluster/kubernetes/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

:zap: adding qubt and l1nkr sites
  .gitignore
  cluster/kubernetes/external/kustomization.yaml
  cluster/kubernetes/external/l1nkr/app/deployment.yaml
  cluster/kubernetes/external/l1nkr/app/kustomization.yaml
  cluster/kubernetes/external/l1nkr/app/service.yaml
  cluster/kubernetes/external/l1nkr/ingress/kustomization.yaml
  cluster/kubernetes/external/l1nkr/ingress/l1nkr-http-route.yaml
  cluster/kubernetes/external/l1nkr/ks.yaml
  cluster/kubernetes/external/namespace.yaml
  cluster/kubernetes/external/notifications.yaml
  cluster/kubernetes/external/qubt/app/deployment.yaml
  cluster/kubernetes/external/qubt/app/ghcr-secret.yaml
  cluster/kubernetes/external/qubt/app/kustomization.yaml
  cluster/kubernetes/external/qubt/app/service.yaml
  cluster/kubernetes/external/qubt/ingress/kustomization.yaml
  cluster/kubernetes/external/qubt/ingress/qubt-http-route.yaml
  cluster/kubernetes/external/qubt/ks.yaml
  cluster/kubernetes/external/slack-token.yaml
  cluster/kubernetes/network/gateways/external/gateway.yaml
Labels: area/kubernetes

:wrench: fixing typo
  cluster/kubernetes/external/l1nkr/ks.yaml
  cluster/kubernetes/external/qubt/ks.yaml
Labels: area/kubernetes

:wrench: fixing typo
  cluster/kubernetes/external/qubt/app/kustomization.yaml
Labels: area/kubernetes

:wrench: adding hostrule to renovate
  .github/renovate.json
  .github/renovate/privatepackages.json
Labels: area/github

:wrench: remove regex from hostrule
  .github/renovate/privatepackages.json
Labels: area/github

:wrench: adding full path to hostrule
  .github/renovate/privatepackages.json
Labels: area/github

:wrench: global ghcr.io hostrule
  .github/renovate/privatepackages.json
Labels: area/github

:wrench: changing hostrule
  .github/renovate/privatepackages.json
Labels: area/github

:wrench: using token in hostrule
  .github/renovate/privatepackages.json
Labels: area/github

:wrench: new scoped token in hostrule
  .github/renovate/privatepackages.json
Labels: area/github

:wrench: removing username in hostrule
  .github/renovate/privatepackages.json
Labels: area/github

:wrench: changing tokne to password in hostrule
  .github/renovate/privatepackages.json
Labels: area/github

:wrench: adding username back into hostrule
  .github/renovate/privatepackages.json
Labels: area/github

:wrench: adding prometheus dashboard
  cluster/kubernetes/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

:zap: adding external-dns
  cluster/kubernetes/flux-resources/helm/external-dns.yaml
  cluster/kubernetes/flux-resources/helm/kustomization.yaml
  cluster/kubernetes/network/external-dns/internal/helmrelease.yaml
  cluster/kubernetes/network/external-dns/internal/kustomization.yaml
  cluster/kubernetes/network/external-dns/internal/pihole-secret.yaml
  cluster/kubernetes/network/external-dns/ks.yaml
  cluster/kubernetes/network/gateways/internal/gateway.yaml
  cluster/kubernetes/network/kustomization.yaml
Labels: area/kubernetes

:wrench: removing unused routes
  cluster/kubernetes/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes

:wrench: removing unused routes from rbac
  cluster/kubernetes/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes

:wrench: adding label filter
  cluster/kubernetes/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes

:wrench: testing label filter
  cluster/kubernetes/network/pihole/ingress/pihole-http-route.yaml
Labels: area/kubernetes

:wrench: adding terget to internal gateway
  cluster/kubernetes/network/gateways/internal/gateway.yaml
Labels: area/kubernetes

:wrench: adding httproutes to external-dns
  cluster/kubernetes/internal/gatus/ingress/gatus-http-route.yaml
  cluster/kubernetes/internal/homepage/ingress/homepage-http-route.yaml
  cluster/kubernetes/kube-system/cilium/ingress/hubble-http-route.yaml
  cluster/kubernetes/network/pihole/ingress/pihole-http-route.yaml
  cluster/kubernetes/observability/grafana/ingress/grafana-http-route.yaml
  cluster/kubernetes/observability/kube-prometheus-stack/ingress/alertmanager-http-route.yaml
  cluster/kubernetes/observability/kube-prometheus-stack/ingress/prometheus-http-route.yaml
  cluster/kubernetes/rook-ceph/rook-ceph/ingress/ceph-http-route.yaml
Labels: area/kubernetes

:zap: adding external-dns dashboard
  cluster/kubernetes/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: testing strange download
  cluster/kubernetes/external/kustomization.yaml
  cluster/kubernetes/observability/kustomization.yaml
Labels: area/kubernetes

:wrench: disabling external gateway
  cluster/kubernetes/network/gateways/external/kustomization.yaml
Labels: area/kubernetes

:wrench: adding external gateway back
  cluster/kubernetes/network/gateways/external/kustomization.yaml
Labels: area/kubernetes

:wrench: readding http-https route
  cluster/kubernetes/network/gateways/external/kustomization.yaml
Labels: area/kubernetes

:wrench: removing http-https route
  cluster/kubernetes/network/gateways/external/kustomization.yaml
Labels: area/kubernetes

:wrench: adding external resources back
  cluster/kubernetes/external/kustomization.yaml
  cluster/kubernetes/network/gateways/external/kustomization.yaml
  cluster/kubernetes/observability/kustomization.yaml
Labels: area/kubernetes
