Repository chrede88/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/talos, area/github

.github/labeler.yaml:

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 'cluster/kubernetes/**/*'

area/talos:
  - changed-files:
      - any-glob-to-any-file: 'cluster/talos/**/*'

area/github:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

:wrench: updating gateway api crds to v1.2
  cluster/kubernetes/apps/kube-system/cilium/crd/gateway-class.yaml
  cluster/kubernetes/apps/kube-system/cilium/crd/gateway.yaml
  cluster/kubernetes/apps/kube-system/cilium/crd/grpc-route.yaml
  cluster/kubernetes/apps/kube-system/cilium/crd/http-route.yaml
  cluster/kubernetes/apps/kube-system/cilium/crd/referencegrant.yaml
  cluster/kubernetes/apps/kube-system/cilium/crd/tls-route.yaml
Labels: area/kubernetes

:wrench: cleaning up some yaml
  cluster/kubernetes/apps/cert-manager/cert-manager/issuer/cloudflare-api-token-secret.yaml
  cluster/kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  cluster/kubernetes/apps/external/l1nkr/app/deployment.yaml
  cluster/kubernetes/apps/external/l1nkr/app/pod-monitor.yaml
  cluster/kubernetes/apps/external/qubt/app/deployment.yaml
  cluster/kubernetes/apps/external/qubt/app/pod-monitor.yaml
  cluster/kubernetes/apps/internal/homepage/app/deployment.yaml
  cluster/kubernetes/apps/network/cloudflare-ddns/app/deployment.yaml
  cluster/kubernetes/apps/network/orbitalsync/app/deployment-orbitalsync.yaml
  cluster/kubernetes/apps/network/pihole/app/headless-service.yaml
  cluster/kubernetes/apps/network/pihole/app/statefulset-pihole.yaml
  cluster/kubernetes/apps/observability/gatus/app/deployment.yaml
  cluster/kubernetes/apps/observability/gatus/app/web-service.yaml
Labels: area/kubernetes

:wrench: moving to new sops hook
  .pre-commit-config.yaml
Labels: none

:zap: adding dragonfly and searxng
  .pre-commit-config.yaml
  cluster/kubernetes/apps/database/dragonfly/app/helmrelease.yaml
  cluster/kubernetes/apps/database/dragonfly/app/kustomization.yaml
  cluster/kubernetes/apps/database/dragonfly/cluster/cluster.yaml
  cluster/kubernetes/apps/database/dragonfly/cluster/kustomization.yaml
  cluster/kubernetes/apps/database/dragonfly/cluster/podmoitor.yaml
  cluster/kubernetes/apps/database/dragonfly/ks.yaml
  cluster/kubernetes/apps/database/kustomization.yaml
  cluster/kubernetes/apps/internal/kustomization.yaml
  cluster/kubernetes/apps/internal/searxng/app/externalsecret.yaml
  cluster/kubernetes/apps/internal/searxng/app/helmrelease.yaml
  cluster/kubernetes/apps/internal/searxng/app/kustomization.yaml
  cluster/kubernetes/apps/internal/searxng/app/resources/limiter.toml
  cluster/kubernetes/apps/internal/searxng/app/resources/settings.yaml
  cluster/kubernetes/apps/internal/searxng/ks.yaml
  cluster/kubernetes/flux/resources/helm/dragonfly.yaml
  cluster/kubernetes/flux/resources/helm/kustomization.yaml
Labels: area/kubernetes

:wrench: fixing filename typo
  cluster/kubernetes/apps/database/dragonfly/cluster/podmonitor.yaml
Labels: area/kubernetes

:wrench: fixing helm chart typo
  cluster/kubernetes/apps/database/dragonfly/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: updating env
  .pre-commit-config.yaml
  cluster/kubernetes/apps/network/pihole/app/configmap-pihole.yaml
  cluster/kubernetes/apps/network/pihole/app/pihole-password-secret.yaml
Labels: area/kubernetes

Revert "🤖 Update image pihole/pihole to v2025"
  .pre-commit-config.yaml
  cluster/kubernetes/apps/network/pihole/app/configmap-pihole.yaml
  cluster/kubernetes/apps/network/pihole/app/pihole-password-secret.yaml
  cluster/kubernetes/apps/network/pihole/app/statefulset-pihole.yaml
Labels: area/kubernetes

:wrench: go back to onedr0p's pre-commit hook for now
  .pre-commit-config.yaml
Labels: none

:wrench: updating env for pihole v6
  .pre-commit-config.yaml
  cluster/kubernetes/apps/network/pihole/app/configmap-pihole.yaml
  cluster/kubernetes/apps/network/pihole/app/pihole-password-secret.yaml
Labels: area/kubernetes

:wrench: moving local dns to unifi
  cluster/kubernetes/apps/network/external-dns/internal/external-dns-unifi-secret.yaml
  cluster/kubernetes/apps/network/external-dns/internal/helmrelease.yaml
  cluster/kubernetes/apps/network/external-dns/internal/kustomization.yaml
Labels: area/kubernetes

:wrench: ripping out pihole and orbitalsync
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
  cluster/kubernetes/apps/internal/homepage/app/homepage-secret.yaml
  cluster/kubernetes/apps/network/kustomization.yaml
  cluster/kubernetes/apps/network/orbitalsync/app/configmap-orbitalsync.yaml
  cluster/kubernetes/apps/network/orbitalsync/app/deployment-orbitalsync.yaml
  cluster/kubernetes/apps/network/orbitalsync/app/kustomization.yaml
  cluster/kubernetes/apps/network/orbitalsync/ks.yaml
  cluster/kubernetes/apps/network/pihole/app/configmap-pihole.yaml
  cluster/kubernetes/apps/network/pihole/app/dashboard-service.yaml
  cluster/kubernetes/apps/network/pihole/app/dns-service.yaml
  cluster/kubernetes/apps/network/pihole/app/headless-service.yaml
  cluster/kubernetes/apps/network/pihole/app/kustomization.yaml
  cluster/kubernetes/apps/network/pihole/app/pihole-password-secret.yaml
  cluster/kubernetes/apps/network/pihole/app/statefulset-pihole.yaml
  cluster/kubernetes/apps/network/pihole/ingress/kustomization.yaml
  cluster/kubernetes/apps/network/pihole/ingress/pihole-http-route.yaml
  cluster/kubernetes/apps/network/pihole/ks.yaml
  cluster/kubernetes/apps/observability/gatus/app/configmap.yaml
Labels: area/kubernetes

:wrench: removing ks dependency for external-dns
  cluster/kubernetes/apps/network/external-dns/ks.yaml
Labels: area/kubernetes

:wrench: adding securityContext to homepage
  cluster/kubernetes/apps/internal/homepage/app/deployment.yaml
Labels: area/kubernetes

:wrench: fixing securityContext for homepage
  cluster/kubernetes/apps/internal/homepage/app/deployment.yaml
Labels: area/kubernetes

:wrench: adding user/group to securityContext for homepage
  cluster/kubernetes/apps/internal/homepage/app/deployment.yaml
Labels: area/kubernetes

:zap: add ingress for searxng
  cluster/kubernetes/apps/internal/searxng/ingress/kustomization.yaml
  cluster/kubernetes/apps/internal/searxng/ingress/searxng-http-route.yaml
  cluster/kubernetes/apps/internal/searxng/ks.yaml
  cluster/kubernetes/apps/network/gateways/internal/gateway.yaml
Labels: area/kubernetes

:wrench: fix typo in helmrelease
  cluster/kubernetes/apps/database/dragonfly/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: updating homepage layout
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
  cluster/kubernetes/apps/internal/homepage/app/resources/cjso.svg
  cluster/kubernetes/apps/internal/homepage/app/resources/searxng.png
Labels: area/kubernetes

:wrench: fixing url
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

:wrench: updating homepage layout
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

:wrench: adding prometheus metric widget to homepage
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

:wrench: fixing prometheus url
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

:wrench: fixing yaml typo
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

:wrench: fixing homepage yaml
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

:wrench: fixing homepage yaml again
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

:wrench: fixing flux renovate config
  .github/renovate/flux.json
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes, area/github

Revert "🤖 Update fluxcd/flux2 to 2.5.0"
  cluster/kubernetes/apps/flux-system/flux/flux-instance/instance.yaml
Labels: area/kubernetes

:memo: updating docs
  README.md
  docs/README.md
  docs/old/external-dns-pihole.md
  docs/old/pihole.md
Labels: none

:wrench: update renovate depName for flux
  cluster/kubernetes/apps/flux-system/flux/flux-instance/instance.yaml
Labels: area/kubernetes

:wrench: adding custom healthchecks for flux ks
  cluster/kubernetes/apps/cert-manager/cert-manager/ks.yaml
  cluster/kubernetes/apps/external-secrets/onepassword/ks.yaml
Labels: area/kubernetes

:wrench: moving flux to github app authentication
  cluster/kubernetes/apps/flux-system/config/github-auth.yaml
  cluster/kubernetes/apps/flux-system/flux/flux-instance/instance.yaml
Labels: area/kubernetes

:wrench: changing flux instance url to https
  cluster/kubernetes/apps/flux-system/flux/flux-instance/instance.yaml
Labels: area/kubernetes

:wrench: revert fluxinstance move to gh app
  cluster/kubernetes/apps/flux-system/flux/flux-instance/instance.yaml
Labels: area/kubernetes

:wrench: trying to move to github app auth again
  cluster/kubernetes/apps/flux-system/flux/flux-instance/instance.yaml
Labels: area/kubernetes

:wrench: updating github-auth secret
  cluster/kubernetes/apps/flux-system/config/github-auth.yaml
Labels: area/kubernetes

:memo: updating docs
  docs/flux-operator.md
Labels: none

:zap: adding action-runner-controller
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/app/helmrelease.yaml
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/app/kustomization.yaml
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/ks.yaml
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/runners/k8s-runner/actions-runner-controller-secret.yaml
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/runners/k8s-runner/helmrelease.yaml
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/runners/k8s-runner/kustomization.yaml
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/runners/k8s-runner/rbac.yaml
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/runners/kustomization.yaml
  cluster/kubernetes/apps/action-runner-system/kustomization.yaml
  cluster/kubernetes/apps/action-runner-system/namespace.yaml
  cluster/kubernetes/flux/resources/helm/action-runner-controller.yaml
  cluster/kubernetes/flux/resources/helm/kustomization.yaml
Labels: area/kubernetes

:wrench: fixing typo
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/app/helmrelease.yaml
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/runners/k8s-runner/actions-runner-controller-secret.yaml
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/runners/k8s-runner/helmrelease.yaml
Labels: area/kubernetes

:wrench: fixing typo
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/app/helmrelease.yaml
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/runners/k8s-runner/helmrelease.yaml
Labels: area/kubernetes
