Repository chrede88/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/github

:wrench: fixing flux-operator helmrelease
  cluster/kubernetes/flux-system/flux/flux-operator/helmrelease.yaml
Labels: area/kubernetes

:wrench: updating flux-operator helmrepo schema version
  cluster/kubernetes/flux-resources/helm/flux-operator.yaml
Labels: area/kubernetes

:wrench: fixing flux-operator helmrepo url
  cluster/kubernetes/flux-resources/helm/flux-operator.yaml
Labels: area/kubernetes

:wrench: removing old flux resources
  cluster/kubernetes/flux-system/gotk-components.yaml
  cluster/kubernetes/flux-system/gotk-sync.yaml
  cluster/kubernetes/flux-system/kustomization.yaml
Labels: area/kubernetes

:memo: adding flux-operator migration to docs
  docs/README.md
  docs/flux-operator.md
  docs/fluxcd.md
Labels: none

:wrench: adding new custom manager for FluxInstance
  .github/renovate.json
  .github/renovate/flux.json
  cluster/kubernetes/flux-system/flux/flux-instance/instance.yaml
Labels: area/kubernetes, area/github

:wrench: updating flux alerts
  cluster/kubernetes/cert-manager/notifications.yaml
  cluster/kubernetes/cert-manager/slack-token.yaml
  cluster/kubernetes/database/notifications.yaml
  cluster/kubernetes/database/slack-token.yaml
  cluster/kubernetes/external/slack-token.yaml
  cluster/kubernetes/flux-system/slack-token.yaml
  cluster/kubernetes/internal/notifications.yaml
  cluster/kubernetes/internal/slack-token.yaml
  cluster/kubernetes/kube-system/notifications.yaml
  cluster/kubernetes/kube-system/slack-token.yaml
  cluster/kubernetes/network/notifications.yaml
  cluster/kubernetes/network/slack-token.yaml
  cluster/kubernetes/observability/notifications.yaml
  cluster/kubernetes/observability/slack-token.yaml
  cluster/kubernetes/rook-ceph/notifications.yaml
  cluster/kubernetes/rook-ceph/slack-token.yaml
Labels: area/kubernetes

:wrench: setting flux alerts back to 'error'
  cluster/kubernetes/cert-manager/notifications.yaml
  cluster/kubernetes/database/notifications.yaml
  cluster/kubernetes/external/notifications.yaml
  cluster/kubernetes/flux-system/notifications.yaml
  cluster/kubernetes/internal/notifications.yaml
  cluster/kubernetes/kube-system/notifications.yaml
  cluster/kubernetes/network/notifications.yaml
  cluster/kubernetes/observability/notifications.yaml
  cluster/kubernetes/rook-ceph/notifications.yaml
Labels: area/kubernetes

:wrench: updating qubt to 2.1.0
  cluster/kubernetes/external/qubt/app/deployment.yaml
Labels: area/kubernetes

:wrench: tweaking config
  cluster/kubernetes/external/kromgo/app/config/config.yaml
Labels: area/kubernetes

:wrench: moving to ubuntu-24.04 runners
  .github/workflows/flux-diff.yaml
  .github/workflows/label_maker.yaml
  .github/workflows/renovate.yaml
  .github/workflows/sync_labels.yaml
Labels: area/github

:zap: adding k8s-sigs descheduler
  cluster/kubernetes/flux-resources/helm/kubernetes-sigs-descheduler.yaml
  cluster/kubernetes/flux-resources/helm/kustomization.yaml
  cluster/kubernetes/kube-system/descheduler/app/helmrelease.yaml
  cluster/kubernetes/kube-system/descheduler/app/kustomization.yaml
  cluster/kubernetes/kube-system/descheduler/ks.yaml
  cluster/kubernetes/kube-system/kustomization.yaml
Labels: area/kubernetes

:wrench: adding debug to flux-diff
  .github/workflows/flux-diff.yaml
Labels: area/github

:wrench: changing path in flux-local diff
  .github/workflows/flux-diff.yaml
Labels: area/github

:wrench: adding auto generated kustomization to repo
  cluster/kubernetes/flux-system/flux/flux-instance/flux-sync.yaml
  cluster/kubernetes/flux-system/flux/flux-instance/kustomization.yaml
Labels: area/kubernetes

:wrench: fixing typo
  cluster/kubernetes/flux-system/flux/flux-instance/kustomization.yaml
Labels: area/kubernetes

:wrench: reverting flux-diff path change
  .github/workflows/flux-diff.yaml
Labels: area/github

:memo: adding extra stuff in flux-operator
  docs/flux-operator.md
Labels: none

:wrench: setting loglevel back to info
  .github/workflows/renovate.yaml
Labels: area/github

:wrench: renovate private ghcr packages
  .github/renovate.json
  .github/renovate/privatepackages.json
  .github/workflows/renovate.yaml
Labels: area/github

:zap: deploying irqbalance
  cluster/kubernetes/kube-system/irqbalance/app/helmrelease.yaml
  cluster/kubernetes/kube-system/irqbalance/app/kustomization.yaml
  cluster/kubernetes/kube-system/irqbalance/ks.yaml
  cluster/kubernetes/kube-system/kustomization.yaml
Labels: area/kubernetes

:zap: setting up TB ring network
  cluster/talos/config/patches/kernel-module.yaml
  cluster/talos/config/patches/thunderbolt-black.yaml
  cluster/talos/config/patches/thunderbolt-death.yaml
  cluster/talos/config/patches/thunderbolt-thrash.yaml
  cluster/talos/config/patches/udev-patch.yaml
  network/overview.yaml
Labels: none

:zap: adding taskfile for debug containers
  .taskfiles/kubernetes/Taskfile.yaml
  .taskfiles/kubernetes/resources/privileged-pod-alpine.tmpl.yaml
  .taskfiles/kubernetes/resources/privileged-pod-ubuntu.tmpl.yaml
Labels: none

:wrench: updating tasks
  .taskfiles/kubernetes/Taskfile.yaml
  .taskfiles/kubernetes/resources/privileged-pod-alpine.tmpl.yaml
  .taskfiles/kubernetes/resources/privileged-pod-ubuntu.tmpl.yaml
Labels: none

:wrench: enabling debug on irqbalance
  cluster/kubernetes/kube-system/irqbalance/app/helmrelease.yaml
Labels: area/kubernetes

:memo: updating docs
  docs/update.md
Labels: none

:wrench: updating renovate config
  .github/renovate.json
  .github/renovate/labels.json
  .github/renovate/postgresql.json
Labels: area/github

:wrench: limiting postgresql to v16
  .github/renovate.json
  .github/renovate/allowedVersions.json
Labels: area/github

Revert "🤖 Update chart descheduler to 0.32.0"
  cluster/kubernetes/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

:memo: updating docs
  docs/update.md
Labels: none

:wrench: adding clusterrole patch
  cluster/kubernetes/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

:memo: update README
  README.md
Labels: none

:wrench: adding FluxInstance to flux alert
  cluster/kubernetes/flux-system/notifications.yaml
Labels: area/kubernetes

:wrench: updating ghcr pull secret
  cluster/kubernetes/external/qubt/app/ghcr-secret.yaml
Labels: area/kubernetes

:wrench: shifting to API key
  cluster/kubernetes/observability/unpoller/app/helmrelease.yaml
  cluster/kubernetes/observability/unpoller/app/unpoller-secret.yaml
Labels: area/kubernetes

:wrench: update SOPS config
  .sops.yaml
Labels: none

:zap: moving to talhelper
  .gitignore
  .sops.yaml
  cluster/talos/config/clusterconfig/.gitignore
  cluster/talos/config/patches/allow-workloads-controlplane.yaml
  cluster/talos/config/patches/black-hostname.yaml
  cluster/talos/config/patches/death-hostname.yaml
  cluster/talos/config/patches/dhcp.yaml
  cluster/talos/config/patches/disable-cni-proxy.yaml
  cluster/talos/config/patches/install-disk.yaml
  cluster/talos/config/patches/interface-names.yaml
  cluster/talos/config/patches/kernel-module.yaml
  cluster/talos/config/patches/thrash-hostname.yaml
  cluster/talos/config/patches/thunderbolt-black.yaml
  cluster/talos/config/patches/thunderbolt-death.yaml
  cluster/talos/config/patches/thunderbolt-thrash.yaml
  cluster/talos/config/patches/udev-patch.yaml
  cluster/talos/config/patches/vip.yaml
  cluster/talos/config/talconfig.yaml
  cluster/talos/config/talsecret.sops.yaml
Labels: none

.github/labeler.yaml:

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: "cluster/kubernetes/**/*"

area/github:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"
