Repository chrede88/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/talos, area/github

feat: deploy it-tools
  cluster/kubernetes/apps/internal/it-tools/app/helmrelease.yaml
  cluster/kubernetes/apps/internal/it-tools/app/kustomization.yaml
  cluster/kubernetes/apps/internal/it-tools/ingress/it-tools-http-route.yaml
  cluster/kubernetes/apps/internal/it-tools/ingress/kustomization.yaml
  cluster/kubernetes/apps/internal/it-tools/ks.yaml
  cluster/kubernetes/apps/internal/kustomization.yaml
  cluster/kubernetes/apps/network/gateways/internal/gateway.yaml
Labels: area/kubernetes

chore: update schemas
  cluster/kubernetes/apps/system-upgrade/system-upgrade/kubernetes/kubernetesupgrade.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/talos/talosupgrade.yaml
Labels: area/kubernetes

chore(flux): add feature gate to kustomizeController
  cluster/kubernetes/apps/flux-system/flux/flux-instance/instance.yaml
Labels: area/kubernetes

fix(flux): still need sops in all ks
  cluster/kubernetes/flux/main/ks.yaml
Labels: area/kubernetes

chore(github-runner): prepare runner for talos access
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/runners/k8s-runner/helmrelease.yaml
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/runners/k8s-runner/rbac.yaml
Labels: area/kubernetes

fix(github-runner): remove namespace from talos serviceaccount
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/runners/k8s-runner/rbac.yaml
Labels: area/kubernetes

chore(talos): add action-runner-system to allowed namespaces
  cluster/talos/config/talconfig.yaml
Labels: area/talos

feat(workflow): add pre image pull workflow
  .github/workflows/pre-image-pull.yaml
Labels: area/github

chore(tuppr): enable serviceMonitor
  cluster/kubernetes/apps/system-upgrade/system-upgrade/app/helmrelease.yaml
Labels: area/kubernetes

docs: Update README
  README.md
Labels: none

feat(gatus): deploy gatus-sidecar
  cluster/kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore(gatus): update sidecar deployment
  cluster/kubernetes/apps/observability/gatus/app/configmap.yaml
  cluster/kubernetes/apps/observability/gatus/app/helmrelease.yaml
  cluster/kubernetes/apps/observability/gatus/app/kustomization.yaml
  cluster/kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

chore(gatus): update sidecar deployment
  cluster/kubernetes/apps/external/kromgo/ingress/kromgo-http-route.yaml
  cluster/kubernetes/apps/external/l1nkr/ingress/l1nkr-http-route.yaml
  cluster/kubernetes/apps/external/qubt/ingress/qubt-http-route.yaml
  cluster/kubernetes/apps/network/gateways/external/gateway.yaml
Labels: area/kubernetes

chore(gatus): fix kustomization
  cluster/kubernetes/apps/observability/gatus/app/kustomization.yaml
Labels: area/kubernetes

chore(renovate): add flux-local group
  .github/renovate/groups.json
Labels: area/github

chore: update gatus-sidecar
  cluster/kubernetes/apps/external/kromgo/ingress/kromgo-http-route.yaml
  cluster/kubernetes/apps/external/l1nkr/ingress/l1nkr-http-route.yaml
  cluster/kubernetes/apps/external/qubt/ingress/qubt-http-route.yaml
  cluster/kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(gatus): deploy gatus-sidecar"
  cluster/kubernetes/apps/external/kromgo/ingress/kromgo-http-route.yaml
  cluster/kubernetes/apps/external/l1nkr/ingress/l1nkr-http-route.yaml
  cluster/kubernetes/apps/external/qubt/ingress/qubt-http-route.yaml
  cluster/kubernetes/apps/network/gateways/external/gateway.yaml
  cluster/kubernetes/apps/observability/gatus/app/configmap.yaml
  cluster/kubernetes/apps/observability/gatus/app/helmrelease.yaml
  cluster/kubernetes/apps/observability/gatus/app/kustomization.yaml
  cluster/kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

chore(gatus): update gatus-sidecar to 0.0.7
  cluster/kubernetes/apps/network/gateways/external/gateway.yaml
  cluster/kubernetes/apps/observability/gatus/app/helmrelease.yaml
  cluster/kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

fix(gates): readd changes for gatus-sidecar
  cluster/kubernetes/apps/external/kromgo/ingress/kromgo-http-route.yaml
  cluster/kubernetes/apps/external/l1nkr/ingress/l1nkr-http-route.yaml
  cluster/kubernetes/apps/external/qubt/ingress/qubt-http-route.yaml
  cluster/kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(gates): readd hostnames in httproutes
  cluster/kubernetes/apps/external/kromgo/ingress/kromgo-http-route.yaml
  cluster/kubernetes/apps/external/l1nkr/ingress/l1nkr-http-route.yaml
  cluster/kubernetes/apps/external/qubt/ingress/qubt-http-route.yaml
Labels: area/kubernetes

fix(gates): add endpoint to config
  cluster/kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

fix(gates): fix arg
  cluster/kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(gates): fix kromgo endpoint url
  cluster/kubernetes/apps/external/kromgo/ingress/kromgo-http-route.yaml
Labels: area/kubernetes

fix(gates): fix kromgo endpoint url
  cluster/kubernetes/apps/external/kromgo/ingress/kromgo-http-route.yaml
Labels: area/kubernetes

chore(gates): disable privilegeEscalation
  cluster/kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore(gates): add upstream DNS check
  cluster/kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

feat: deploy envoy-gateway
  cluster/kubernetes/apps/kube-system/cilium/app/helm-values.yaml
  cluster/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  cluster/kubernetes/apps/kube-system/cilium/crd/crds.yaml
  cluster/kubernetes/apps/kube-system/cilium/ks.yaml
  cluster/kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
  cluster/kubernetes/apps/network/envoy-gateway/app/kustomization.yaml
  cluster/kubernetes/apps/network/envoy-gateway/ks.yaml
  cluster/kubernetes/apps/network/envoy-gateway/resources/envoyproxy.yaml
  cluster/kubernetes/apps/network/envoy-gateway/resources/gatewayclass.yaml
  cluster/kubernetes/apps/network/envoy-gateway/resources/kustomization.yaml
  cluster/kubernetes/apps/network/envoy-gateway/resources/monitoring.yaml
  cluster/kubernetes/apps/network/gateways/external/gateway.yaml
  cluster/kubernetes/apps/network/gateways/internal/gateway.yaml
  cluster/kubernetes/apps/network/gateways/ks.yaml
  cluster/kubernetes/apps/network/kustomization.yaml
  cluster/kubernetes/apps/observability/grafana/app/helmrelease.yaml
  cluster/kubernetes/flux/resources/oci/envoy-gateway.yaml
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
Labels: area/kubernetes

chore(gatus-sidecar): overwrite defualt names
  cluster/kubernetes/apps/external/l1nkr/ingress/l1nkr-http-route.yaml
  cluster/kubernetes/apps/external/qubt/ingress/qubt-http-route.yaml
Labels: area/kubernetes

Fix issue with talos.dev 404
  .github/workflows/pre-image-pull.yaml
Labels: area/github

fix(kustomization): remove dependsOn cilium-crd
  cluster/kubernetes/apps/kube-system/cilium/ks.yaml
  cluster/kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

fix(envoy): remove bad healthcheck
  cluster/kubernetes/apps/network/envoy-gateway/ks.yaml
Labels: area/kubernetes

fix(gateway): fix ip allocation
  cluster/kubernetes/apps/network/gateways/external/gateway.yaml
  cluster/kubernetes/apps/network/gateways/internal/gateway.yaml
Labels: area/kubernetes

fix(envoy): kick envoy to froce reinstall of gateway-api crds
  cluster/kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

fix(envoy): kick envoy to froce reinstall of gateway-api crds
  cluster/kubernetes/apps/network/envoy-gateway/ks.yaml
  cluster/kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

fix(envoy): kick envoy to froce reinstall of gateway-api crds
  cluster/kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

fix(envoy): kick envoy to froce reinstall of gateway-api crds
  cluster/kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

fix(cilum): temp removing cosign on ocirepo
  cluster/kubernetes/flux/resources/oci/cilium.yaml
Labels: area/kubernetes

Revert "fix(container): update rook-ceph group ( v1.18.4 → v1.18.5 ) (patch)"
  cluster/kubernetes/flux/resources/oci/rook-ceph-cluster.yaml
  cluster/kubernetes/flux/resources/oci/rook-ceph.yaml
Labels: area/kubernetes

fix: temp removing cosign for all ocirepos until flux v2.8
  cluster/kubernetes/flux/resources/oci/cloudnative-pg.yaml
  cluster/kubernetes/flux/resources/oci/descheduler.yaml
  cluster/kubernetes/flux/resources/oci/external-dns.yaml
  cluster/kubernetes/flux/resources/oci/external-secrets.yaml
  cluster/kubernetes/flux/resources/oci/flux-operator.yaml
  cluster/kubernetes/flux/resources/oci/metrics-server.yaml
  cluster/kubernetes/flux/resources/oci/onepassword-connect.yaml
  cluster/kubernetes/flux/resources/oci/spegel.yaml
Labels: area/kubernetes

fix: temp removing cosign for all ocirepos until flux v2.8
  cluster/kubernetes/flux/resources/oci/bjw-s.yaml
Labels: area/kubernetes

.github/labeler.yaml:

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 'cluster/kubernetes/**/*'

area/talos:
  - changed-files:
      - any-glob-to-any-file: 'cluster/talos/**/*'

area/github:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'
