Repository chrede88/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/github

:memo: updating docs
  docs/README.md
  docs/update.md
Labels: none

:memo: updating docs
  docs/external-dns.md
Labels: none

:zap: adding pre-commit
  .github/workflows/sync_labels.yaml
  .pre-commit-config.yaml
  README.md
  cluster/kubernetes/internal/homepage/app/configmap.yaml
  cluster/kubernetes/network/external-dns/internal/helmrelease.yaml
  cluster/kubernetes/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  docs/README.md
  docs/assets/talos.svg
  docs/cert-manager.md
  docs/fluxcd.md
  docs/renovate.md
Labels: area/kubernetes, area/github

:wrench: adding pre-commit to renovate
  .github/renovate.json
Labels: area/github

:wrench: fixing typo
  cluster/kubernetes/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

Revert "🤖 Update image ghcr.io/fluxcd/source-controller to v1.3.0"
  cluster/kubernetes/flux-system/gotk-components.yaml
Labels: area/kubernetes

:wrench: updating secrets
  .github/renovate/privatepackages.json
  cluster/kubernetes/external/qubt/app/ghcr-secret.yaml
Labels: area/kubernetes, area/github

:wrench: updating flux resources
  cluster/kubernetes/cert-manager/cert-manager/app/helmrelease.yaml
  cluster/kubernetes/database/cloudnative-pg/app/helmrelease.yaml
  cluster/kubernetes/flux-resources/helm/bjw-s.yaml
  cluster/kubernetes/flux-resources/helm/cert-manager.yaml
  cluster/kubernetes/flux-resources/helm/cilium.yaml
  cluster/kubernetes/flux-resources/helm/cloudnative-pg.yaml
  cluster/kubernetes/flux-resources/helm/external-dns.yaml
  cluster/kubernetes/flux-resources/helm/grafana.yaml
  cluster/kubernetes/flux-resources/helm/prometheus-community.yaml
  cluster/kubernetes/flux-resources/helm/rook-ceph.yaml
  cluster/kubernetes/kube-system/cilium/app/helmrelease.yaml
  cluster/kubernetes/network/external-dns/internal/helmrelease.yaml
  cluster/kubernetes/observability/grafana/app/helmrelease.yaml
  cluster/kubernetes/observability/kromgo/app/helmrelease.yaml
  cluster/kubernetes/observability/kube-prometheus-stack/app/helmrelease.yaml
  cluster/kubernetes/observability/unpoller/app/helmrelease.yaml
  cluster/kubernetes/rook-ceph/rook-ceph/app/helmrelease.yaml
  cluster/kubernetes/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

:wrench: updating flux version
  .github/workflows/flux-diff.yaml
Labels: area/github

:wrench: adding flag to cilium
  cluster/kubernetes/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

:memo: updating docs
  docs/setup.md
Labels: none

:memo: updating docs
  docs/cilium.md
  docs/renovate.md
  docs/setup.md
Labels: none

:memo: updating docs
  docs/cert-manager.md
Labels: none

:wrench: updating ghcr secrets
  .github/renovate/privatepackages.json
  cluster/kubernetes/external/qubt/app/ghcr-secret.yaml
Labels: area/kubernetes, area/github

:wrench: updating helm values
  cluster/kubernetes/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: adding securitycontext to cloudflare-ddns
  cluster/kubernetes/network/cloudflare-ddns/app/deployment.yaml
Labels: area/kubernetes

:wrench: setting user id
  cluster/kubernetes/network/cloudflare-ddns/app/deployment.yaml
Labels: area/kubernetes

:wrench: updating securityContext for cloudflare-ddns
  cluster/kubernetes/network/cloudflare-ddns/app/deployment.yaml
Labels: area/kubernetes

:wrench: adding pushover notifications to cloudflare-ddns
  cluster/kubernetes/network/cloudflare-ddns/app/configmap.yaml
  cluster/kubernetes/network/cloudflare-ddns/app/secret.yaml
Labels: area/kubernetes

:wrench: testing nightly build of cloudflare-ddns
  cluster/kubernetes/network/cloudflare-ddns/app/deployment.yaml
Labels: area/kubernetes

:wrench: going back to lastest build
  cluster/kubernetes/network/cloudflare-ddns/app/deployment.yaml
Labels: area/kubernetes

:wrench: update ghcr tokens
  .github/renovate/privatepackages.json
  cluster/kubernetes/external/qubt/app/ghcr-secret.yaml
Labels: area/kubernetes, area/github

:wrench: updating cilium crds
  cluster/kubernetes/kube-system/cilium/crd/gateway-class.yaml
  cluster/kubernetes/kube-system/cilium/crd/gateway.yaml
  cluster/kubernetes/kube-system/cilium/crd/grpc-route.yaml
  cluster/kubernetes/kube-system/cilium/crd/http-route.yaml
  cluster/kubernetes/kube-system/cilium/crd/referencegrant.yaml
  cluster/kubernetes/kube-system/cilium/crd/tls-route.yaml
Labels: area/kubernetes

:wrench: removing grpc and tls routes until external-dns supports gateway api v1.1
  cluster/kubernetes/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes

:wrench: removing grpc and tls routes until external-dns supports gateway api v1.1
  cluster/kubernetes/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes

:memo: add Ceph interaction docs
  docs/README.md
  docs/ceph-cluster.md
Labels: none

:wrench: setting topologySpreadConstraint for pihole
  cluster/kubernetes/network/pihole/app/statefulset-pihole.yaml
Labels: area/kubernetes

:wrench: setting topologySpreadConstraint for pihole
  cluster/kubernetes/network/pihole/app/statefulset-pihole.yaml
Labels: area/kubernetes

:wrench: fixing topologySpreadConstraint for pihole
  cluster/kubernetes/network/pihole/app/statefulset-pihole.yaml
Labels: area/kubernetes

Update README.md
  README.md
Labels: none

:memo: updating docs
  docs/cert-manager.md
  docs/cilium.md
  docs/fluxcd.md
  docs/setup.md
Labels: none

:wrench: updating README to follow new kromgo version
  README.md
Labels: none

:wrench: updating helmrelease to follow new health endpoint
  cluster/kubernetes/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: fixing yaml error
  cluster/kubernetes/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

:memo: updating docs
  docs/README.md
Labels: none

:memo: updating README
  README.md
Labels: none

:wrench: trying to fix slack notifications
  cluster/kubernetes/flux-system/slack-token.yaml
Labels: area/kubernetes

:wrench: trying to fix slack notifications
  cluster/kubernetes/flux-system/notifications.yaml
Labels: area/kubernetes

:wrench: migrating renovate secrets
  .github/renovate/privatepackages.json
Labels: area/github

:memo: update docs
  docs/setup.md
Labels: none

.github/labeler.yaml:

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: "cluster/kubernetes/**/*"

area/github:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"
