Repository chrede88/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/talos, area/github

chore(app-template) update oci url
  cluster/kubernetes/flux/resources/oci/bjw-s.yaml
Labels: area/kubernetes

feat(flux) update kustomize-controller image with fix for healthchecks
  cluster/kubernetes/apps/flux-system/flux/flux-instance/instance.yaml
Labels: area/kubernetes

chore(app-template) update verication subject to reflect new chart
  cluster/kubernetes/flux/resources/oci/bjw-s.yaml
Labels: area/kubernetes

feat(external-secrets) reenable ClusterSecretStore healthCheck
  cluster/kubernetes/apps/external-secrets/onepassword/ks.yaml
Labels: area/kubernetes

chore(readme) update README
  README.md
Labels: none

Revert "🤖 Update image ghcr.io/home-operations/charts-mirror/cilium to v1.17.4"
  cluster/kubernetes/flux/resources/oci/cilium.yaml
Labels: area/kubernetes

Revert "🤖 Update image ghcr.io/bjw-s-labs/helm/app-template to v4"
  cluster/kubernetes/flux/resources/oci/bjw-s.yaml
Labels: area/kubernetes

chore: update yaml schema url for app-template
  cluster/kubernetes/apps/external/kromgo/app/helmrelease.yaml
  cluster/kubernetes/apps/external/l1nkr/app/helmrelease.yaml
  cluster/kubernetes/apps/external/qubt/app/helmrelease.yaml
  cluster/kubernetes/apps/internal/homepage/app/helmrelease.yaml
  cluster/kubernetes/apps/internal/searxng/app/helmrelease.yaml
  cluster/kubernetes/apps/kube-system/irqbalance/app/helmrelease.yaml
  cluster/kubernetes/apps/network/cloudflare-ddns/app/helmrelease.yaml
  cluster/kubernetes/apps/observability/gatus/app/helmrelease.yaml
  cluster/kubernetes/apps/observability/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

feat(talos): update to v1.10.2
  docs/update.md
Labels: none

feat: extent flux-local with test
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-local.yaml
Labels: area/github

chore: updating renovate
  .github/renovate.json
  .github/renovate/semanticCommits.json
Labels: area/github

fix(reonvate): ensure valid json
  .github/renovate/semanticCommits.json
Labels: area/github

fix(flux-local): add extra needs blocks
  .github/workflows/flux-local.yaml
Labels: area/github

fake pr, testing flux-local workflow
  README.md
Labels: none

fake pr, testing flux-local workflow for k8s file
  cluster/kubernetes/apps/external/qubt/app/helmrelease.yaml
Labels: area/kubernetes

chore(ci): temp disable flux-local test
  .github/workflows/flux-local.yaml
Labels: area/github

chore(renovate): migrate to managerFilePatterns
  .github/renovate.json
  .github/renovate/flux.json
  .github/renovate/grafanadashboards.json
  .github/renovate/postgresql.json
  .github/renovate/talos.json
Labels: area/github

chore(renovate): allow postgresql v17
  .github/renovate/allowedVersions.json
Labels: area/github

chore(ci): try flux-local again
  .github/workflows/flux-local.yaml
Labels: area/github

testing flux-local test
  cluster/kubernetes/apps/external/qubt/app/helmrelease.yaml
Labels: area/kubernetes

chore(ci) use minor and patch for all actions
  .github/workflows/codeql.yml
  .github/workflows/flux-local.yaml
  .github/workflows/label_maker.yaml
  .github/workflows/renovate.yaml
  .github/workflows/schemas.yaml
  .github/workflows/sync_labels.yaml
Labels: area/github

chore(flux): update OCIRepository apiVersion to v1
  cluster/kubernetes/flux/resources/oci/bjw-s.yaml
  cluster/kubernetes/flux/resources/oci/cert-manager.yaml
  cluster/kubernetes/flux/resources/oci/cilium.yaml
  cluster/kubernetes/flux/resources/oci/cloudnative-pg.yaml
  cluster/kubernetes/flux/resources/oci/descheduler.yaml
  cluster/kubernetes/flux/resources/oci/dragonfly.yaml
  cluster/kubernetes/flux/resources/oci/external-dns.yaml
  cluster/kubernetes/flux/resources/oci/external-secrets.yaml
  cluster/kubernetes/flux/resources/oci/flux-operator.yaml
  cluster/kubernetes/flux/resources/oci/gha-runner-scale-set-controller.yaml
  cluster/kubernetes/flux/resources/oci/gha-runner-scale-set.yaml
  cluster/kubernetes/flux/resources/oci/grafana.yaml
  cluster/kubernetes/flux/resources/oci/kube-prometheus-stack.yaml
  cluster/kubernetes/flux/resources/oci/metrics-server.yaml
  cluster/kubernetes/flux/resources/oci/onepassword-connect.yaml
  cluster/kubernetes/flux/resources/oci/rook-ceph-cluster.yaml
  cluster/kubernetes/flux/resources/oci/rook-ceph.yaml
  cluster/kubernetes/flux/resources/oci/smartctl-exporter.yaml
Labels: area/kubernetes

feat(flux): removing kustomizeController patch
  cluster/kubernetes/apps/flux-system/flux/flux-instance/instance.yaml
Labels: area/kubernetes

chore(flux): temp reverting ocirepo update to v1
  cluster/kubernetes/flux/resources/oci/bjw-s.yaml
  cluster/kubernetes/flux/resources/oci/cert-manager.yaml
  cluster/kubernetes/flux/resources/oci/cilium.yaml
  cluster/kubernetes/flux/resources/oci/cloudnative-pg.yaml
  cluster/kubernetes/flux/resources/oci/descheduler.yaml
  cluster/kubernetes/flux/resources/oci/dragonfly.yaml
  cluster/kubernetes/flux/resources/oci/external-dns.yaml
  cluster/kubernetes/flux/resources/oci/external-secrets.yaml
  cluster/kubernetes/flux/resources/oci/flux-operator.yaml
  cluster/kubernetes/flux/resources/oci/gha-runner-scale-set-controller.yaml
  cluster/kubernetes/flux/resources/oci/gha-runner-scale-set.yaml
  cluster/kubernetes/flux/resources/oci/grafana.yaml
  cluster/kubernetes/flux/resources/oci/kube-prometheus-stack.yaml
  cluster/kubernetes/flux/resources/oci/metrics-server.yaml
  cluster/kubernetes/flux/resources/oci/onepassword-connect.yaml
  cluster/kubernetes/flux/resources/oci/rook-ceph-cluster.yaml
  cluster/kubernetes/flux/resources/oci/rook-ceph.yaml
  cluster/kubernetes/flux/resources/oci/smartctl-exporter.yaml
Labels: area/kubernetes

chore(flux): updating ocirepo apiversion to v1 (again)
  cluster/kubernetes/flux/resources/oci/bjw-s.yaml
  cluster/kubernetes/flux/resources/oci/cert-manager.yaml
  cluster/kubernetes/flux/resources/oci/cilium.yaml
  cluster/kubernetes/flux/resources/oci/cloudnative-pg.yaml
  cluster/kubernetes/flux/resources/oci/descheduler.yaml
  cluster/kubernetes/flux/resources/oci/dragonfly.yaml
  cluster/kubernetes/flux/resources/oci/external-dns.yaml
  cluster/kubernetes/flux/resources/oci/external-secrets.yaml
  cluster/kubernetes/flux/resources/oci/flux-operator.yaml
  cluster/kubernetes/flux/resources/oci/gha-runner-scale-set-controller.yaml
  cluster/kubernetes/flux/resources/oci/gha-runner-scale-set.yaml
  cluster/kubernetes/flux/resources/oci/grafana.yaml
  cluster/kubernetes/flux/resources/oci/kube-prometheus-stack.yaml
  cluster/kubernetes/flux/resources/oci/metrics-server.yaml
  cluster/kubernetes/flux/resources/oci/onepassword-connect.yaml
  cluster/kubernetes/flux/resources/oci/rook-ceph-cluster.yaml
  cluster/kubernetes/flux/resources/oci/rook-ceph.yaml
  cluster/kubernetes/flux/resources/oci/smartctl-exporter.yaml
Labels: area/kubernetes

chore(oci): update schema version to v1
  cluster/kubernetes/flux/resources/oci/bjw-s.yaml
  cluster/kubernetes/flux/resources/oci/cert-manager.yaml
  cluster/kubernetes/flux/resources/oci/cilium.yaml
  cluster/kubernetes/flux/resources/oci/cloudnative-pg.yaml
  cluster/kubernetes/flux/resources/oci/descheduler.yaml
  cluster/kubernetes/flux/resources/oci/dragonfly.yaml
  cluster/kubernetes/flux/resources/oci/external-dns.yaml
  cluster/kubernetes/flux/resources/oci/external-secrets.yaml
  cluster/kubernetes/flux/resources/oci/flux-operator.yaml
  cluster/kubernetes/flux/resources/oci/gha-runner-scale-set-controller.yaml
  cluster/kubernetes/flux/resources/oci/gha-runner-scale-set.yaml
  cluster/kubernetes/flux/resources/oci/grafana.yaml
  cluster/kubernetes/flux/resources/oci/kube-prometheus-stack.yaml
  cluster/kubernetes/flux/resources/oci/metrics-server.yaml
  cluster/kubernetes/flux/resources/oci/onepassword-connect.yaml
  cluster/kubernetes/flux/resources/oci/rook-ceph-cluster.yaml
  cluster/kubernetes/flux/resources/oci/rook-ceph.yaml
  cluster/kubernetes/flux/resources/oci/smartctl-exporter.yaml
Labels: area/kubernetes

docs: reflect current talos version in docs
  docs/update.md
Labels: none

feat(talconfig): add support for spegel
  cluster/talos/config/talconfig.yaml
Labels: area/talos

feat: deploy spegel
  cluster/kubernetes/apps/kube-system/kustomization.yaml
  cluster/kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  cluster/kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  cluster/kubernetes/apps/kube-system/spegel/ks.yaml
  cluster/kubernetes/apps/observability/grafana/app/helmrelease.yaml
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
  cluster/kubernetes/flux/resources/oci/spegel.yaml
Labels: area/kubernetes

chore(spegel): add comment about hostport
  cluster/kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
Labels: area/kubernetes

docs: upgrade talos
  docs/update.md
Labels: none

fix(kube-prometheus-stack): fix merge conflict
  cluster/kubernetes/flux/resources/oci/kube-prometheus-stack.yaml
Labels: area/kubernetes

feat(rook-ceph): automatic wipe drives for new cluster
  cluster/kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(gha-action-runner): remove replicaCount
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

chore(gha-action-runner): temp remove gha to fix failed upgrade
  cluster/kubernetes/apps/action-runner-system/kustomization.yaml
Labels: area/kubernetes

chore(gha-action-runner): redeploy gha
  cluster/kubernetes/apps/action-runner-system/kustomization.yaml
Labels: area/kubernetes

docs: update docs after talos upgrade
  docs/update.md
Labels: none

fix(homepage): adding new required config file
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
  cluster/kubernetes/apps/internal/homepage/app/helmrelease.yaml
Labels: area/kubernetes

docs: update kubernetes README
  cluster/kubernetes/README.md
Labels: area/kubernetes

chore(renovate): change cron schedule
  .github/workflows/renovate.yaml
Labels: area/github

.github/labeler.yaml:

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 'cluster/kubernetes/**/*'

area/talos:
  - changed-files:
      - any-glob-to-any-file: 'cluster/talos/**/*'

area/github:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'
