Repository chrede88/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/talos, area/github

.github/labeler.yaml:

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 'cluster/kubernetes/**/*'

area/talos:
  - changed-files:
      - any-glob-to-any-file: 'cluster/talos/**/*'

area/github:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

fix(cloudflare-ddns): disable probes as no healthcheck endpoint exists
  cluster/kubernetes/apps/network/cloudflare-ddns/app/helmrelease.yaml
Labels: area/kubernetes

fix(homepage): fix yaml error
  cluster/kubernetes/apps/internal/homepage/app/helmrelease.yaml
Labels: area/kubernetes

chore(cilium): update apiversions
  cluster/kubernetes/apps/kube-system/cilium/config/l2config.yaml
Labels: area/kubernetes

docs: update to talos v1.10.6
  docs/update.md
Labels: none

chore(homepage): disable kubernetes mode
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

chore(homepage): set log-level to debug
  cluster/kubernetes/apps/internal/homepage/app/helmrelease.yaml
Labels: area/kubernetes

feat(grafana): update flux dashboards
  cluster/kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(renovate): update action version
  .github/workflows/renovate.yaml
Labels: area/github

chore(renovate): use minimumGroupSize
  .github/renovate/groups.json
Labels: area/github

fix(renovate): use correct Regex for Flux group
  .github/renovate/groups.json
Labels: area/github

fix(renovate): use correct Regex for Flux group
  .github/renovate/groups.json
Labels: area/github

feat: move archiveteam to helmrelease
  cluster/kubernetes/apps/internal/archiveteam/app/deployment.yaml
  cluster/kubernetes/apps/internal/archiveteam/app/helmrelease.yaml
  cluster/kubernetes/apps/internal/archiveteam/app/kustomization.yaml
  cluster/kubernetes/apps/internal/archiveteam/ks.yaml
Labels: area/kubernetes

fix(archiveteam): relaxed permissions
  cluster/kubernetes/apps/internal/archiveteam/app/helmrelease.yaml
Labels: area/kubernetes

fix(archiveteam): relaxed permissions
  cluster/kubernetes/apps/internal/archiveteam/app/helmrelease.yaml
Labels: area/kubernetes

fix(archiveteam): relaxed permissions
  cluster/kubernetes/apps/internal/archiveteam/app/helmrelease.yaml
Labels: area/kubernetes

fix(archiveteam): don't know what permission this thing needs
  cluster/kubernetes/apps/internal/archiveteam/app/helmrelease.yaml
Labels: area/kubernetes

fix(archiveteam): increase memory limit
  cluster/kubernetes/apps/internal/archiveteam/app/helmrelease.yaml
Labels: area/kubernetes

docs: update talos to v1.11.0
  docs/update.md
Labels: none

feat: add k8tz to cluster
  cluster/kubernetes/apps/kube-system/k8tz/app/helmrelease.yaml
  cluster/kubernetes/apps/kube-system/k8tz/app/issuer.yaml
  cluster/kubernetes/apps/kube-system/k8tz/app/kustomization.yaml
  cluster/kubernetes/apps/kube-system/k8tz/ks.yaml
  cluster/kubernetes/apps/kube-system/kustomization.yaml
  cluster/kubernetes/flux/resources/oci/k8tz.yaml
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
Labels: area/kubernetes

fix(k8tz): fix chart ref
  cluster/kubernetes/apps/kube-system/k8tz/app/helmrelease.yaml
Labels: area/kubernetes

feat(k8tz): refactor to seperate out cert-manager resources
  cluster/kubernetes/apps/kube-system/k8tz/issuer/issuer.yaml
  cluster/kubernetes/apps/kube-system/k8tz/issuer/kustomization.yaml
  cluster/kubernetes/apps/kube-system/k8tz/ks.yaml
Labels: area/kubernetes

fix(k8tz): add namespace to healthChecks
  cluster/kubernetes/apps/kube-system/k8tz/ks.yaml
Labels: area/kubernetes

chore(renovate): remove Flux group
  .github/renovate/groups.json
Labels: area/github

chore(flux): remove provider patch
  cluster/kubernetes/apps/flux-system/flux/flux-instance/instance.yaml
Labels: area/kubernetes

feat(flux): move to controller level decryption
  cluster/kubernetes/apps/cert-manager/cert-manager/ks.yaml
  cluster/kubernetes/apps/database/cloudnative-pg/ks.yaml
  cluster/kubernetes/apps/external-secrets/onepassword/ks.yaml
  cluster/kubernetes/apps/external/l1nkr/ks.yaml
  cluster/kubernetes/apps/external/qubt/ks.yaml
  cluster/kubernetes/apps/flux-system/flux/flux-instance/instance.yaml
  cluster/kubernetes/apps/internal/homepage/ks.yaml
  cluster/kubernetes/apps/network/cloudflare-ddns/ks.yaml
  cluster/kubernetes/apps/network/external-dns/ks.yaml
  cluster/kubernetes/apps/observability/gatus/ks.yaml
  cluster/kubernetes/apps/observability/grafana/ks.yaml
  cluster/kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  cluster/kubernetes/apps/observability/unpoller/ks.yaml
  cluster/kubernetes/flux/main/ks.yaml
Labels: area/kubernetes

ci: upgrade node to v24
  .github/workflows/schemas.yaml
Labels: area/github

docs: update talos version
  docs/update.md
Labels: none

chore(renovate): add cilium group
  .github/renovate/groups.json
Labels: area/github

chore(renovate): add helm to cilium group
  .github/renovate/groups.json
Labels: area/github

fix(homepage): testing Prometheus widget
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

fix(homepage): testing Prometheus widget
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

fix(homepage): testing Prometheus widget
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

fix(homepage): testing Prometheus widget
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

fix(homepage): testing Prometheus widget
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

chore(talos): prepare talos for tuppr
  cluster/talos/config/talconfig.yaml
Labels: area/talos

feat: deploy tuppr
  .github/renovate/talos.json
  cluster/kubernetes/apps/system-upgrade/kustomization.yaml
  cluster/kubernetes/apps/system-upgrade/namespace.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/app/helmrelease.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/app/kustomization.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/ks.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/kubernetes/kubernetesupgrade.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/kubernetes/kustomization.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/talos/kustomization.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/talos/talosupgrade.yaml
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
  cluster/kubernetes/flux/resources/oci/tuppr.yaml
Labels: area/kubernetes, area/github

fix(tuppr): privileged pods not needed
  cluster/kubernetes/apps/system-upgrade/namespace.yaml
Labels: area/kubernetes

chore(tuppr): upgrade to v0.0.30
  cluster/kubernetes/flux/resources/oci/tuppr.yaml
Labels: area/kubernetes

chore(tuppr): upgrade to v0.0.31
  cluster/kubernetes/flux/resources/oci/tuppr.yaml
Labels: area/kubernetes

fix(renovate): fix typo in config
  .github/renovate/talos.json
Labels: area/github
