Repository chrede88/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/talos, area/github

.github/labeler.yaml:

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 'cluster/kubernetes/**/*'

area/talos:
  - changed-files:
      - any-glob-to-any-file: 'cluster/talos/**/*'

area/github:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

chore(towonel): move to official helm chart
  cluster/kubernetes/apps/network/towonel/app/helmrelease.yaml
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
  cluster/kubernetes/flux/resources/oci/towonel-agent.yaml
Labels: area/kubernetes

fix(towonel):add services to helmrelease
  cluster/kubernetes/apps/network/towonel/app/helmrelease.yaml
Labels: area/kubernetes

fix(towonel): typo
  cluster/kubernetes/apps/network/towonel/app/helmrelease.yaml
Labels: area/kubernetes

chore(flate): add cache
  .github/workflows/flate.yaml
Labels: area/github

chore(kromgo): move to official helm chart
  cluster/kubernetes/apps/external/kromgo/app/config/config.yaml
  cluster/kubernetes/apps/external/kromgo/app/helmrelease.yaml
  cluster/kubernetes/flux/resources/oci/kromgo.yaml
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
Labels: area/kubernetes

chore(flux): remove distribution from flux-instance
  cluster/kubernetes/apps/flux-system/flux/flux-instance/helmrelease.yaml
Labels: area/kubernetes

chore(kromgo): add cosign verification
  cluster/kubernetes/flux/resources/oci/kromgo.yaml
Labels: area/kubernetes

fix(kromgo): change cosign subject
  cluster/kubernetes/flux/resources/oci/kromgo.yaml
Labels: area/kubernetes

chore(tuppr): add cosign verification
  cluster/kubernetes/flux/resources/oci/tuppr.yaml
Labels: area/kubernetes

fix(renovate): remove flux manifests from flux group
  .github/renovate/groups.json5
Labels: area/github

chore(workflows): move image-pull to flate and update app token flow
  .github/workflows/flate.yaml
  .github/workflows/pre-image-pull.yaml
Labels: area/github

fix(workflows): use client id for token flow
  .github/workflows/flate.yaml
  .github/workflows/pre-image-pull.yaml
Labels: area/github

fix(workflows): fix job id
  .github/workflows/pre-image-pull.yaml
Labels: area/github

chore(README): update badges
  README.md
Labels: none

chore(README): reorder badges
  README.md
Labels: none

fix(renovate): try replacing appID with clientID
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/github-access-token.yaml
Labels: area/kubernetes

feat(external-dns): migrate to home-operations unifi-webhook image
  cluster/kubernetes/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes

fix(external-dns): fix env bool to string
  cluster/kubernetes/apps/network/external-dns/internal/helmrelease.yaml
Labels: area/kubernetes

chore(kromgo): add container count
  README.md
  cluster/kubernetes/apps/external/kromgo/app/config/config.yaml
Labels: area/kubernetes

fix(kromgo): fix config typo
  cluster/kubernetes/apps/external/kromgo/app/config/config.yaml
Labels: area/kubernetes

fix(README): fix typo
  README.md
Labels: none

fix(image-pull): fix workflow
  .github/workflows/pre-image-pull.yaml
Labels: area/github

feat: deploy reloader
  cluster/kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
  cluster/kubernetes/apps/external/l1nkr/app/helmrelease.yaml
  cluster/kubernetes/apps/external/qubt/app/helmrelease.yaml
  cluster/kubernetes/apps/external/webhook/app/helmrelease.yaml
  cluster/kubernetes/apps/internal/homepage/app/helmrelease.yaml
  cluster/kubernetes/apps/kube-system/kustomization.yaml
  cluster/kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  cluster/kubernetes/apps/kube-system/reloader/app/kustomization.yaml
  cluster/kubernetes/apps/kube-system/reloader/ks.yaml
  cluster/kubernetes/apps/network/external-dns/internal/helmrelease.yaml
  cluster/kubernetes/apps/network/towonel/app/helmrelease.yaml
  cluster/kubernetes/apps/observability/gatus/app/helmrelease.yaml
  cluster/kubernetes/apps/observability/unpoller/app/helmrelease.yaml
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
  cluster/kubernetes/flux/resources/oci/reloader.yaml
Labels: area/kubernetes

fix(relaoder): fix typo
  cluster/kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

fix(relaoder): fix deploymentAnnotations
  cluster/kubernetes/apps/network/external-dns/internal/helmrelease.yaml
  cluster/kubernetes/apps/network/towonel/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(container): update image ghcr.io/dragonflydb/dragonfly-operator/helm/dragonfly-operator (v1.5.0 ➔ v1.6.0)"
  cluster/kubernetes/flux/resources/oci/dragonfly.yaml
Labels: area/kubernetes

Revert "feat(container): update image ghcr.io/dragonflydb/dragonfly-operator/helm/dragonfly-operator (v1.5.0 ➔ v1.6.1)"
  cluster/kubernetes/flux/resources/oci/dragonfly.yaml
Labels: area/kubernetes

chore(kromgo): add deploymentAnnotation
  cluster/kubernetes/apps/external/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

chore(dragonfly): add access to clusters from other namespaces
  cluster/kubernetes/apps/database/dragonfly/cluster/networkpolicy-dragonfly-renovate.yaml
  cluster/kubernetes/apps/database/dragonfly/cluster/networkpolicy-dragonfly.yaml
Labels: area/kubernetes

feat(gatus): move to home-operations chart
  cluster/kubernetes/apps/observability/gatus/app/helmrelease.yaml
  cluster/kubernetes/flux/resources/oci/gatus-sidecar.yaml
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
Labels: area/kubernetes

fix(gatus): fix type issue
  cluster/kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore(gatus): remove custom rbac rules
  cluster/kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore(towonel): migrate to v0.2.0 schema
  cluster/kubernetes/apps/network/towonel/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy konflate
  .github/workflows/flate.yaml
  cluster/kubernetes/apps/external/konflate/app/externalsecret.yaml
  cluster/kubernetes/apps/external/konflate/app/helmrelease.yaml
  cluster/kubernetes/apps/external/konflate/app/kustomization.yaml
  cluster/kubernetes/apps/external/konflate/ingress/konflate-http-route.yaml
  cluster/kubernetes/apps/external/konflate/ingress/kustomization.yaml
  cluster/kubernetes/apps/external/konflate/ks.yaml
  cluster/kubernetes/apps/external/kustomization.yaml
  cluster/kubernetes/apps/network/gateways/external/gateway.yaml
  cluster/kubernetes/flux/resources/oci/konflate.yaml
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
Labels: area/kubernetes, area/github

fix(konflate): add clusterPath
  cluster/kubernetes/apps/external/konflate/app/helmrelease.yaml
Labels: area/kubernetes

chore(flate): run flate on this PR
  .github/workflows/flate.yaml
Labels: area/github

fix(flate): fix chart ref
  cluster/kubernetes/apps/external/konflate/app/helmrelease.yaml
Labels: area/kubernetes

fix(flate): fix httproute ref
  cluster/kubernetes/apps/external/konflate/ingress/konflate-http-route.yaml
Labels: area/kubernetes

chore(konflate): remove until cert-manager is fixed
  cluster/kubernetes/apps/external/kustomization.yaml
  cluster/kubernetes/apps/network/gateways/external/gateway.yaml
Labels: area/kubernetes

chore(cert-manager): migrate to ovh setup
  cluster/kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  cluster/kubernetes/apps/cert-manager/cert-manager/issuer/letsencrypt-production.yaml
  cluster/kubernetes/apps/cert-manager/kustomization.yaml
  cluster/kubernetes/apps/cert-manager/webhook-ovh/app/externalsecret.yaml
  cluster/kubernetes/apps/cert-manager/webhook-ovh/app/helmrelease.yaml
  cluster/kubernetes/apps/cert-manager/webhook-ovh/app/kustomization.yaml
  cluster/kubernetes/apps/cert-manager/webhook-ovh/ks.yaml
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
  cluster/kubernetes/flux/resources/oci/webhook-ovh.yaml
Labels: area/kubernetes
