Repository chrede88/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/github

:wrench: fixing typo
  cluster/kubernetes/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

:arrow_up: updating talos to v1.6.7 and k8s to v1.29.3
  .gitignore
  README.md
Labels: none

:wrench: updating homepage configmap
  cluster/kubernetes/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

:zap: adding ingress to prometheus and alertmanager
  .vscode/settings.json
  cluster/kubernetes/network/ingress/internal/gateway.yaml
  cluster/kubernetes/observability/kube-prometheus-stack/ingress/alertmanager-http-route.yaml
  cluster/kubernetes/observability/kube-prometheus-stack/ingress/kustomization.yaml
  cluster/kubernetes/observability/kube-prometheus-stack/ingress/prometheus-http-route.yaml
Labels: area/kubernetes

:wrench: adding kustomization
  cluster/kubernetes/observability/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

:wrench: fixing mistake
  cluster/kubernetes/observability/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

:wrench: updating prometheus http-route
  cluster/kubernetes/observability/kube-prometheus-stack/ingress/prometheus-http-route.yaml
Labels: area/kubernetes

:zap: testing path redirect to pihole dashboard
  cluster/kubernetes/network/ingress/internal/pihole-http-route.yaml
Labels: area/kubernetes

:wrench: adding path redirects to all piholes
  cluster/kubernetes/network/ingress/internal/pihole-http-route.yaml
Labels: area/kubernetes

:wrench: moving and renaming resources
  cluster/kubernetes/network/gateways/internal/gateway.yaml
  cluster/kubernetes/network/gateways/internal/http-redirect.yaml
  cluster/kubernetes/network/gateways/internal/kustomization.yaml
  cluster/kubernetes/network/gateways/ks.yaml
  cluster/kubernetes/network/kustomization.yaml
  cluster/kubernetes/network/pihole/ingress/kustomization.yaml
  cluster/kubernetes/network/pihole/ingress/pihole-http-route.yaml
  cluster/kubernetes/network/pihole/ks.yaml
  docs/ingress.md
Labels: area/kubernetes

:wrench: updating renovate
  .github/renovate.json
Labels: area/github

:zap: adding flux diff workflow
  .github/workflows/flux-diff.yaml
Labels: area/github

:memo: updating docs
  README.md
  docs/ingress.md
  docs/pihole.md
  docs/renovate.md
Labels: none

:wrench: adding grafana dashboards to flux
  .github/renovate.json
  .github/renovate/grafanadashboards.json
  cluster/kubernetes/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, area/github

:wrench: fixing typo
  .github/renovate.json
Labels: area/github

:wrench: fixing typo
  .github/renovate.json
Labels: area/github

:wrench: fixing permissions issue
  .github/workflows/flux-diff.yaml
Labels: area/github

Update deployment.yaml
  cluster/kubernetes/internal/homepage/app/deployment.yaml
Labels: area/kubernetes

:memo: adding kubernetes README
  cluster/kubernetes/README.md
Labels: area/kubernetes

:memo: updating README
  README.md
Labels: none

:memo: updating README
  README.md
Labels: none

:wrench: add groups to renovate
  .github/renovate.json
  .github/renovate/groups.json
Labels: area/github

:wrench: trying out new grafana dashboards
  cluster/kubernetes/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: trying out new grafana dashboards
  cluster/kubernetes/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

:zap: deploying unifipoller
  cluster/kubernetes/flux-resources/helm/bjw-s.yaml
  cluster/kubernetes/observability/kustomization.yaml
  cluster/kubernetes/observability/unpoller/app/helmrelease.yaml
  cluster/kubernetes/observability/unpoller/app/kustomiation.yaml
  cluster/kubernetes/observability/unpoller/app/unpoller-secret.yaml
  cluster/kubernetes/observability/unpoller/ks.yaml
Labels: area/kubernetes

:wrench: updating kustomization
  cluster/kubernetes/observability/unpoller/app/kustomiation.yaml
Labels: area/kubernetes

:wrench: fixing typo
  cluster/kubernetes/observability/unpoller/app/kustomization.yaml
Labels: area/kubernetes

:wrench: fixing typo
  cluster/kubernetes/observability/unpoller/app/kustomization.yaml
Labels: area/kubernetes

:wrench: adding helm repo to kustomization
  cluster/kubernetes/flux-resources/helm/kustomization.yaml
Labels: area/kubernetes

:wrench: updating helm repo
  cluster/kubernetes/flux-resources/helm/bjw-s.yaml
Labels: area/kubernetes

:wrench: temp disabling probes
  cluster/kubernetes/observability/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: updating unifi url
  cluster/kubernetes/observability/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: turn on debug
  cluster/kubernetes/observability/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: updating unifi url
  cluster/kubernetes/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

:wrench: updating unifi url
  cluster/kubernetes/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

:wrench: updating unifi url
  cluster/kubernetes/observability/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: turning off debug
  cluster/kubernetes/observability/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: updating dashboards
  cluster/kubernetes/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

:zap: adding ecternal gateway
  cluster/kubernetes/network/gateways/external/gateway.yaml
  cluster/kubernetes/network/gateways/external/http-redirect.yaml
  cluster/kubernetes/network/gateways/external/kustomization.yaml
  cluster/kubernetes/network/gateways/ks.yaml
  network/overview.yaml
Labels: area/kubernetes

:zap: adding kromgo to cluster
  cluster/kubernetes/network/gateways/external/gateway.yaml
  cluster/kubernetes/observability/kromgo/app/config/config.yaml
  cluster/kubernetes/observability/kromgo/app/helmrelease.yaml
  cluster/kubernetes/observability/kromgo/app/kustomization.yaml
  cluster/kubernetes/observability/kromgo/ingress/kromgo-http-route.yaml
  cluster/kubernetes/observability/kromgo/ingress/kustomization.yaml
  cluster/kubernetes/observability/kromgo/ks.yaml
  cluster/kubernetes/observability/kustomization.yaml
  cluster/kubernetes/observability/namespace.yaml
Labels: area/kubernetes

.github/labeler.yaml:

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: "cluster/kubernetes/**/*"

area/github:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"
