Repository chrede88/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/talos, area/github

.github/labeler.yaml:

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 'cluster/kubernetes/**/*'

area/talos:
  - changed-files:
      - any-glob-to-any-file: 'cluster/talos/**/*'

area/github:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

chore(eep): show details
  cluster/kubernetes/apps/network/gateways/internal/eep-internal.yaml
Labels: area/kubernetes

chore(envoy): add backendtrafficpolicy
  cluster/kubernetes/apps/network/gateways/internal/backendtrafficpolicy.yaml
  cluster/kubernetes/apps/network/gateways/internal/kustomization.yaml
Labels: area/kubernetes

chore(envoy): add clienttrafficpolicy
  cluster/kubernetes/apps/network/gateways/internal/backendtrafficpolicy.yaml
  cluster/kubernetes/apps/network/gateways/internal/clienttrafficpolicy.yaml
  cluster/kubernetes/apps/network/gateways/internal/kustomization.yaml
Labels: area/kubernetes

chore(envoy): reduce clienttrafficpolicy to min needed
  cluster/kubernetes/apps/network/gateways/internal/backendtrafficpolicy.yaml
  cluster/kubernetes/apps/network/gateways/internal/clienttrafficpolicy.yaml
Labels: area/kubernetes

chore(envoy): move traffic polices
  cluster/kubernetes/apps/network/envoy-gateway/resources/backendtrafficpolicy.yaml
  cluster/kubernetes/apps/network/envoy-gateway/resources/clienttrafficpolicy.yaml
  cluster/kubernetes/apps/network/envoy-gateway/resources/kustomization.yaml
  cluster/kubernetes/apps/network/gateways/internal/clienttrafficpolicy.yaml
  cluster/kubernetes/apps/network/gateways/internal/kustomization.yaml
Labels: area/kubernetes

fix(envoy): move away from deprecated field
  cluster/kubernetes/apps/network/envoy-gateway/resources/backendtrafficpolicy.yaml
Labels: area/kubernetes

fix(envoy): add proxyprotocol for towonel
  cluster/kubernetes/apps/network/envoy-gateway/resources/clienttrafficpolicy.yaml
Labels: area/kubernetes

chore(envoy): update clienttrafficpolicy
  cluster/kubernetes/apps/network/envoy-gateway/resources/clienttrafficpolicy.yaml
Labels: area/kubernetes

chore(envoy): update clienttrafficpolicy
  cluster/kubernetes/apps/network/envoy-gateway/resources/clienttrafficpolicy.yaml
Labels: area/kubernetes

fix(envoy): clean-up clienttrafficpolices
  cluster/kubernetes/apps/network/envoy-gateway/resources/clienttrafficpolicy.yaml
  cluster/kubernetes/apps/network/towonel/app/envoy-client-traffic-policy.yaml
  cluster/kubernetes/apps/network/towonel/app/kustomization.yaml
Labels: area/kubernetes

fix(envoy): fix typo
  cluster/kubernetes/apps/network/envoy-gateway/resources/clienttrafficpolicy.yaml
Labels: area/kubernetes

chore(envoy): align internal ctp with ishioni
  cluster/kubernetes/apps/network/envoy-gateway/resources/clienttrafficpolicy.yaml
Labels: area/kubernetes

chore(tuppr): change rebootMode to default
  cluster/kubernetes/apps/system-upgrade/system-upgrade/talos/talosupgrade.yaml
Labels: area/kubernetes

chore(rook-ceph): mitigate issues with ceph CVE-2025-30156
  cluster/kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(just): add ceph health detail call
  cluster/kubernetes/mod.just
Labels: area/kubernetes

feat: remove archiveteam
  cluster/kubernetes/apps/internal/archiveteam/app/helmrelease.yaml
  cluster/kubernetes/apps/internal/archiveteam/app/kustomization.yaml
  cluster/kubernetes/apps/internal/archiveteam/ks.yaml
  cluster/kubernetes/apps/internal/kustomization.yaml
Labels: area/kubernetes

feat: remove archiveteam (#2575)
  cluster/kubernetes/apps/internal/archiveteam/app/helmrelease.yaml
  cluster/kubernetes/apps/internal/archiveteam/app/kustomization.yaml
  cluster/kubernetes/apps/internal/archiveteam/ks.yaml
  cluster/kubernetes/apps/internal/kustomization.yaml
Labels: area/kubernetes

chore(external-dns): update gateway annotation to align with new external-dns version
  cluster/kubernetes/apps/network/gateways/internal/gateway.yaml
Labels: area/kubernetes

chore(renovate): add pointer to towonel release notes
  .github/renovate/releases.json5
  .renovaterc.json5
Labels: area/github

chore(towonel): move chart to new source
  .github/renovate/releases.json5
  .renovaterc.json5
  cluster/kubernetes/flux/resources/oci/towonel-agent.yaml
Labels: area/kubernetes, area/github

fix(towonel): fix oci chart url
  cluster/kubernetes/flux/resources/oci/towonel-agent.yaml
Labels: area/kubernetes

chore(towonel): update chart version
  cluster/kubernetes/flux/resources/oci/towonel-agent.yaml
Labels: area/kubernetes

chore(towonel): move chart to new source (#2616)
  .github/renovate/releases.json5
  .renovaterc.json5
  cluster/kubernetes/flux/resources/oci/towonel-agent.yaml
Labels: area/kubernetes, area/github

feat: deploy printdigfattig site
  cluster/kubernetes/apps/external/kustomization.yaml
  cluster/kubernetes/apps/external/printdigfattig/app/helmrelease.yaml
  cluster/kubernetes/apps/external/printdigfattig/app/kustomization.yaml
  cluster/kubernetes/apps/external/printdigfattig/ingress/kustomization.yaml
  cluster/kubernetes/apps/external/printdigfattig/ingress/printdigfattig-http-route.yaml
  cluster/kubernetes/apps/external/printdigfattig/ks.yaml
  cluster/kubernetes/apps/network/gateways/external/gateway.yaml
Labels: area/kubernetes

feat: deploy printdigfattig site (#2646)
  cluster/kubernetes/apps/external/kustomization.yaml
  cluster/kubernetes/apps/external/printdigfattig/app/helmrelease.yaml
  cluster/kubernetes/apps/external/printdigfattig/app/kustomization.yaml
  cluster/kubernetes/apps/external/printdigfattig/ingress/kustomization.yaml
  cluster/kubernetes/apps/external/printdigfattig/ingress/printdigfattig-http-route.yaml
  cluster/kubernetes/apps/external/printdigfattig/ks.yaml
  cluster/kubernetes/apps/network/gateways/external/gateway.yaml
Labels: area/kubernetes
