Repository chrede88/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/github

.github/labeler.yaml:

area/kubernetes:
- changed-files:
  - any-glob-to-any-file: "cluster/kubernetes/**/*"

area/github:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"

:memo: updating docs
  docs/update.md
Labels: none

:wrench: moving to selfhosted Renovate
  .github/renovate.json
  .github/workflows/renovate.yaml
Labels: area/github

:wrench: updating renovate config
  .github/renovate.json
Labels: area/github

:wrench: updating renovate config
  .github/renovate.json
  .github/renovate/privatepackages.json
  .github/workflows/renovate.yaml
Labels: area/github

:wrench: updating renovate config
  .github/renovate/privatepackages.json
Labels: area/github

:wrench: updating renovate config
  .github/renovate/privatepackages.json
  .github/workflows/renovate.yaml
Labels: area/github

:wrench: updating renovate config
  .github/renovate/privatepackages.json
  .github/workflows/renovate.yaml
Labels: area/github

:wrench: updating renovate config
  .github/workflows/renovate.yaml
Labels: area/github

:wrench: updating renovate config
  .github/renovate/privatepackages.json
Labels: area/github

:wrench: updating renovate config
  .github/renovate.json
  .github/renovate/privatepackages.js
Labels: area/github

:wrench: updating renovate config
  .github/renovate.json
Labels: area/github

:wrench: updating renovate config
  .github/renovate.json
  .github/renovate/privatepackages.js
Labels: area/github

:wrench: updating renovate config
  .github/renovate.json
Labels: area/github

:wrench: updating renovate config
  .github/renovate.json
Labels: area/github

:wrench: fixing renovate config
  .github/renovate.json
Labels: area/github

:wrench: fixing renovate config
  .github/renovate.json
Labels: area/github

:wrench: updating renovate config
  .github/renovate.json
  .pre-commit-config.yaml
Labels: area/github

:wrench: Update renovate.json
  .github/renovate.json
Labels: area/github

:wrench: Update renovate.json
  .github/renovate.json
Labels: area/github

:memo: extending the renovate docs
  docs/renovate.md
Labels: none

:memo: extending the renovate docs
  docs/renovate.md
Labels: none

:memo: extending the renovate docs
  docs/renovate.md
Labels: none

:wrench: fixing homepage config
  cluster/kubernetes/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

:zap: adding metrics-server
  cluster/kubernetes/flux-resources/helm/kustomization.yaml
  cluster/kubernetes/flux-resources/helm/metrics-server.yaml
  cluster/kubernetes/kube-system/kustomization.yaml
  cluster/kubernetes/kube-system/metrics-server/app/helmrelease.yaml
  cluster/kubernetes/kube-system/metrics-server/app/kustomization.yaml
  cluster/kubernetes/kube-system/metrics-server/ks.yaml
Labels: area/kubernetes

:wrench: fixing metrics-server kustomization
  cluster/kubernetes/kube-system/metrics-server/ks.yaml
Labels: area/kubernetes

:wrench: fixing metrics-server certificate issue
  cluster/kubernetes/kube-system/metrics-server/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: changing prometheus service discovery
  .pre-commit-config.yaml
  cluster/kubernetes/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: bumping qubt to v2.0.1
  cluster/kubernetes/external/qubt/app/deployment.yaml
Labels: area/kubernetes

:wrench: updating private package pull secret
  cluster/kubernetes/external/qubt/app/ghcr-secret.yaml
Labels: area/kubernetes

Revert "🤖 Update chart kube-prometheus-stack to 65.3.1"
  cluster/kubernetes/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: reverting kube-prometheus-stack changes
  cluster/kubernetes/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: fixing false alerts firing
  cluster/kubernetes/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Revert ":wrench: fixing false alerts firing"
  cluster/kubernetes/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Revert "Revert ":wrench: fixing false alerts firing""
  cluster/kubernetes/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

:wrench: removing kube-prometheus-stack so I can reinstall it
  cluster/kubernetes/observability/kustomization.yaml
Labels: area/kubernetes

:wrench: reinstalling kube-prometheus-stack
  cluster/kubernetes/observability/kustomization.yaml
Labels: area/kubernetes

:zap: moving to the flux-operator
  cluster/kubernetes/flux-resources/oci/flux-operator.yaml
  cluster/kubernetes/flux-resources/oci/kustomization.yaml
  cluster/kubernetes/flux-system/flux/flux-instance/instance.yaml
  cluster/kubernetes/flux-system/flux/flux-instance/kustomization.yaml
  cluster/kubernetes/flux-system/flux/flux-operator/helmrelease.yaml
  cluster/kubernetes/flux-system/flux/flux-operator/kustomization.yaml
  cluster/kubernetes/flux-system/flux/ks.yaml
  cluster/kubernetes/flux-system/kustomization.yaml
Labels: area/kubernetes

:wrench: fixing flux-operator helmrelease
  cluster/kubernetes/flux-system/flux/flux-operator/helmrelease.yaml
Labels: area/kubernetes

:wrench: fixing flux-operator helmrelease
  cluster/kubernetes/flux-resources/helm/flux-operator.yaml
  cluster/kubernetes/flux-resources/helm/kustomization.yaml
  cluster/kubernetes/flux-resources/oci/kustomization.yaml
  cluster/kubernetes/flux-system/flux/flux-operator/helmrelease.yaml
Labels: area/kubernetes

:wrench: fixing flux-operator helmrelease
  cluster/kubernetes/flux-resources/kustomization.yaml
Labels: area/kubernetes
