Repository chrede88/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/talos, area/github

.github/labeler.yaml:

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 'cluster/kubernetes/**/*'

area/talos:
  - changed-files:
      - any-glob-to-any-file: 'cluster/talos/**/*'

area/github:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

feat(crd-schema-publisher): remove from cluster
  cluster/kubernetes/apps/internal/crd-schema-publisher/app/cloudflare-pages.yaml
  cluster/kubernetes/apps/internal/crd-schema-publisher/app/helmrelease.yaml
  cluster/kubernetes/apps/internal/crd-schema-publisher/app/kustomization.yaml
  cluster/kubernetes/apps/internal/crd-schema-publisher/ks.yaml
  cluster/kubernetes/apps/internal/kustomization.yaml
Labels: area/kubernetes

chore(crd-schema-publisher): remove oci repo
  cluster/kubernetes/flux/resources/oci/crd-schema-publisher.yaml
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
Labels: area/kubernetes

chore(homepage): update schema store url
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

feat: move to home-operations renovate-presets
  .github/renovate.json
  .github/renovate/allowedVersions.json
  .github/renovate/flux-operator-manifests.json
  .github/renovate/grafanadashboards.json
  .github/renovate/groups.json
  .github/renovate/groups.json5
  .github/renovate/labels.json
  .github/renovate/labels.json5
  .github/renovate/postgresql.json
  .github/renovate/semanticCommits.json
  .github/renovate/talos-factory-datasource.json
  .github/renovate/talos.json
  .renovaterc.json5
  cluster/kubernetes/apps/system-upgrade/system-upgrade/kubernetes/kubernetesupgrade.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/talos/talosupgrade.yaml
  cluster/talos/config/talconfig.yaml
Labels: area/kubernetes, area/talos, area/github

chore: rename grafanadashboard files
  cluster/kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  cluster/kubernetes/apps/database/cloudnative-pg/app/kustomization.yaml
  cluster/kubernetes/apps/database/dragonfly/app/kustomization.yaml
  cluster/kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  cluster/kubernetes/apps/flux-system/flux/flux-operator/kustomization.yaml
  cluster/kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  cluster/kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  cluster/kubernetes/apps/network/envoy-gateway/app/kustomization.yaml
  cluster/kubernetes/apps/observability/grafana-operator/instance/kustomization.yaml
  cluster/kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  cluster/kubernetes/apps/observability/smartctl-exporter/app/kustomization.yaml
  cluster/kubernetes/apps/observability/unpoller/app/kustomization.yaml
  cluster/kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/app/kustomization.yaml
Labels: area/kubernetes

fix: filename changes not pick up by git - forcing
  cluster/kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard1.yaml
  cluster/kubernetes/apps/database/cloudnative-pg/app/grafanadashboard1.yaml
  cluster/kubernetes/apps/database/dragonfly/app/grafanadashboard1.yaml
  cluster/kubernetes/apps/external-secrets/external-secrets/app/grafanadashboard1.yaml
  cluster/kubernetes/apps/flux-system/flux/flux-operator/grafanadashboard1.yaml
  cluster/kubernetes/apps/kube-system/cilium/app/grafanadashboard1.yaml
  cluster/kubernetes/apps/kube-system/spegel/app/grafanadashboard1.yaml
  cluster/kubernetes/apps/network/envoy-gateway/app/grafanadashboard1.yaml
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafanadashboard1.yaml
  cluster/kubernetes/apps/observability/kube-prometheus-stack/app/grafanadashboard1.yaml
  cluster/kubernetes/apps/observability/smartctl-exporter/app/grafanadashboard1.yaml
  cluster/kubernetes/apps/observability/unpoller/app/grafanadashboard1.yaml
  cluster/kubernetes/apps/rook-ceph/rook-ceph/app/grafanadashboard1.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/app/grafanadashboard1.yaml
Labels: area/kubernetes

fix: filename changes not pick up by git - back to start
  cluster/kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  cluster/kubernetes/apps/database/cloudnative-pg/app/grafanadashboard.yaml
  cluster/kubernetes/apps/database/dragonfly/app/grafanadashboard.yaml
  cluster/kubernetes/apps/external-secrets/external-secrets/app/grafanadashboard.yaml
  cluster/kubernetes/apps/flux-system/flux/flux-operator/grafanadashboard.yaml
  cluster/kubernetes/apps/kube-system/cilium/app/grafanadashboard.yaml
  cluster/kubernetes/apps/kube-system/spegel/app/grafanadashboard.yaml
  cluster/kubernetes/apps/network/envoy-gateway/app/grafanadashboard.yaml
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafanadashboard.yaml
  cluster/kubernetes/apps/observability/smartctl-exporter/app/grafanadashboard.yaml
  cluster/kubernetes/apps/observability/unpoller/app/grafanadashboard.yaml
  cluster/kubernetes/apps/rook-ceph/rook-ceph/app/grafanadashboard.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/app/grafanadashboard.yaml
Labels: area/kubernetes

fix: missed one
  cluster/kubernetes/apps/observability/kube-prometheus-stack/app/grafanadashboard.yaml
Labels: area/kubernetes

fix(renovate): fix invalid config
  .renovaterc.json5
Labels: none

chore(postgresql): migrate to new version schema
  cluster/kubernetes/apps/database/cloudnative-pg/clusters/gatus-cluster.yaml
Labels: area/kubernetes

chore(grafana): bump grafana version
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafana.yaml
Labels: area/kubernetes

fix(grafana): fix grafana image
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafana.yaml
Labels: area/kubernetes

feat(kromgo): migrate to home-operations image
  README.md
  cluster/kubernetes/apps/external/kromgo/app/config/config.yaml
  cluster/kubernetes/apps/external/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix(kromgo): config path
  cluster/kubernetes/apps/external/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

fix(kromgo): config values
  cluster/kubernetes/apps/external/kromgo/app/config/config.yaml
Labels: area/kubernetes

fix(gatus): kromgo endpoint
  cluster/kubernetes/apps/external/kromgo/ingress/kromgo-http-route.yaml
Labels: area/kubernetes

feat: move to flate
  .github/workflows/flate.yaml
  .github/workflows/flux-local.yaml
Labels: area/github

chore(flate): add global permissions
  .github/workflows/flate.yaml
Labels: area/github

chore(kromgo): aling config with 0.14.x schema
  cluster/kubernetes/apps/external/kromgo/app/config/config.yaml
Labels: area/kubernetes

chore(flate): set output type
  .github/workflows/flate.yaml
Labels: area/github

fix(kromgo): id collision
  cluster/kubernetes/apps/external/kromgo/app/config/config.yaml
Labels: area/kubernetes

feat(rook-ceph): add ceph-csi chart
  cluster/kubernetes/apps/rook-ceph/rook-ceph/ceph-csi/helmrelease.yaml
  cluster/kubernetes/apps/rook-ceph/rook-ceph/ceph-csi/kustomization.yaml
  cluster/kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
  cluster/kubernetes/flux/resources/oci/rook-ceph-csi.yaml
Labels: area/kubernetes

fix(rook-ceph): naming conflict
  cluster/kubernetes/flux/resources/oci/rook-ceph-csi.yaml
Labels: area/kubernetes

chore(tuppr): align talosupgrade with 0.2.0 schema
  cluster/kubernetes/apps/system-upgrade/system-upgrade/talos/talosupgrade.yaml
Labels: area/kubernetes

chore(gha_runner): move secret injection method for runner chart
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/runners/k8s-runner/actions-runner-controller-secret.yaml
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/runners/k8s-runner/helmrelease.yaml
Labels: area/kubernetes

fix(kromgo): fix uptime and cluster age
  cluster/kubernetes/apps/external/kromgo/app/config/config.yaml
Labels: area/kubernetes

fix(rook-ceph): fix ceph driver names
  cluster/kubernetes/apps/rook-ceph/rook-ceph/ceph-csi/helmrelease.yaml
Labels: area/kubernetes

feat: deploy towonel-agent
  cluster/kubernetes/apps/network/kustomization.yaml
  cluster/kubernetes/apps/network/towonel/app/envoy-client-traffic-policy.yaml
  cluster/kubernetes/apps/network/towonel/app/helmrelease.yaml
  cluster/kubernetes/apps/network/towonel/app/kustomization.yaml
  cluster/kubernetes/apps/network/towonel/app/towonel-agent-secret.yaml
  cluster/kubernetes/apps/network/towonel/ks.yaml
Labels: area/kubernetes

fix(towonel): typo
  cluster/kubernetes/apps/network/towonel/app/kustomization.yaml
Labels: area/kubernetes

chore(towonel): set tagged version
  cluster/kubernetes/apps/network/towonel/app/helmrelease.yaml
Labels: area/kubernetes

fix(towonel): typo
  cluster/kubernetes/apps/network/towonel/app/towonel-agent-secret.yaml
Labels: area/kubernetes

fix(towonel): add targetrefs to clienttrafficpolicy
  cluster/kubernetes/apps/network/towonel/app/envoy-client-traffic-policy.yaml
Labels: area/kubernetes

feat(cloudflare-ddns): remove deployment
  cluster/kubernetes/apps/network/cloudflare-ddns/app/cloudflare-ddns-secret.yaml
  cluster/kubernetes/apps/network/cloudflare-ddns/app/helmrelease.yaml
  cluster/kubernetes/apps/network/cloudflare-ddns/app/kustomization.yaml
  cluster/kubernetes/apps/network/cloudflare-ddns/ks.yaml
  cluster/kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

feat: deploy anubis
  cluster/kubernetes/apps/external/l1nkr/ingress/l1nkr-http-route.yaml
  cluster/kubernetes/apps/external/l1nkr/ks.yaml
  cluster/kubernetes/apps/external/qubt/ingress/qubt-http-route.yaml
  cluster/kubernetes/apps/external/qubt/ks.yaml
  cluster/kubernetes/flux/components/anubis/externalsecret.yaml
  cluster/kubernetes/flux/components/anubis/helmrelease.yaml
  cluster/kubernetes/flux/components/anubis/kustomization.yaml
Labels: area/kubernetes

fix: component path
  cluster/kubernetes/apps/external/l1nkr/ks.yaml
  cluster/kubernetes/apps/external/qubt/ks.yaml
Labels: area/kubernetes

fix: component type
  cluster/kubernetes/flux/components/anubis/kustomization.yaml
Labels: area/kubernetes

feat(grafana): add towonel dashboards
  cluster/kubernetes/apps/network/towonel/app/grafanadashboard.yaml
  cluster/kubernetes/apps/network/towonel/app/grafanafolder.yaml
Labels: area/kubernetes

fix: update kustomization
  cluster/kubernetes/apps/network/towonel/app/kustomization.yaml
Labels: area/kubernetes

chore(towonel): use dashboards from head of main
  cluster/kubernetes/apps/network/towonel/app/grafanadashboard.yaml
Labels: area/kubernetes

chore(towonel): remove hub dashboard
  cluster/kubernetes/apps/network/towonel/app/grafanadashboard.yaml
Labels: area/kubernetes
