Repository chrede88/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/talos, area/github

.github/labeler.yaml:

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 'cluster/kubernetes/**/*'

area/talos:
  - changed-files:
      - any-glob-to-any-file: 'cluster/talos/**/*'

area/github:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

fix(renovate): fix external secret
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/bb17-pem.yaml
Labels: area/kubernetes

fix(renovate): fix external secret
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/bb17-pem.yaml
Labels: area/kubernetes

fix(renovate): fix external secret
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/bb17-pem.yaml
Labels: area/kubernetes

chore(renovate): change discovery to topic
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
Labels: area/kubernetes

chore(renovate): change discovery to topic
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
Labels: area/kubernetes

chore(renovate): change discovery to topic
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
Labels: area/kubernetes

fix(renovate): add hostrule
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
Labels: area/kubernetes

fix(renovate): fix typo
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
Labels: area/kubernetes

chore(homepage): add renovate dashboard
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

feat(schemas): add index page to schema site
  .github/schemas-index.html
  .github/workflows/schemas.yaml
Labels: area/github

feat(homeapge): add k8s schema store
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

feat(renovate): remove gha reonvate
  .github/workflows/renovate.yaml
Labels: area/github

chore(renovate): configure autoMerge
  .github/renovate.json
  .github/renovate/autoMerge.json
Labels: area/github

chore(renovate): ignore tests for high cadence packages
  .github/renovate/autoMerge.json
Labels: area/github

fix(onepassword): remove double encoding - no longer needed
  cluster/kubernetes/apps/external-secrets/onepassword/app/onepassword-secret.yaml
Labels: area/kubernetes

chore(renovate): walking back automarge
  .github/renovate.json
  .github/renovate/autoMerge.json
Labels: area/github

chore(tuppr): make sure crds are updated
  cluster/kubernetes/apps/system-upgrade/system-upgrade/app/helmrelease.yaml
Labels: area/kubernetes

chore(tuppr): add node drain to talosupgrade
  cluster/kubernetes/apps/system-upgrade/system-upgrade/talos/talosupgrade.yaml
Labels: area/kubernetes

chore: move ks + hr defaults to patch
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/app/helmrelease.yaml
  cluster/kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  cluster/kubernetes/apps/database/cloudnative-pg/app/helmrelease.yaml
  cluster/kubernetes/apps/database/dragonfly/app/helmrelease.yaml
  cluster/kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  cluster/kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
  cluster/kubernetes/apps/external/kromgo/app/helmrelease.yaml
  cluster/kubernetes/apps/external/l1nkr/app/helmrelease.yaml
  cluster/kubernetes/apps/external/qubt/app/helmrelease.yaml
  cluster/kubernetes/apps/flux-system/flux/flux-operator/helmrelease.yaml
  cluster/kubernetes/apps/internal/archiveteam/app/helmrelease.yaml
  cluster/kubernetes/apps/internal/homepage/app/helmrelease.yaml
  cluster/kubernetes/apps/internal/it-tools/app/helmrelease.yaml
  cluster/kubernetes/apps/internal/searxng/app/helmrelease.yaml
  cluster/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  cluster/kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  cluster/kubernetes/apps/kube-system/irqbalance/app/helmrelease.yaml
  cluster/kubernetes/apps/kube-system/k8tz/app/helmrelease.yaml
  cluster/kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  cluster/kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  cluster/kubernetes/apps/network/cloudflare-ddns/app/helmrelease.yaml
  cluster/kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
  cluster/kubernetes/apps/network/external-dns/internal/helmrelease.yaml
  cluster/kubernetes/apps/observability/gatus/app/helmrelease.yaml
  cluster/kubernetes/apps/observability/grafana/app/helmrelease.yaml
  cluster/kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  cluster/kubernetes/apps/observability/smartctl-exporter/app/helmrelease.yaml
  cluster/kubernetes/apps/observability/unpoller/app/helmrelease.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/app/helmrelease.yaml
  cluster/kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  cluster/kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/app/helmrelease.yaml
  cluster/kubernetes/flux/main/ks.yaml
Labels: area/kubernetes

chore(workflows): update timeouts
  .github/workflows/flux-local.yaml
  .github/workflows/pre-image-pull.yaml
Labels: area/github

docs: update flux api versions
  docs/cert-manager.md
  docs/cilium.md
  docs/cloudnative-pg.md
  docs/external-dns.md
  docs/old/external-dns-pihole.md
  docs/prometheus.md
  docs/rook-ceph.md
Labels: none

fix(cosign): fix cosign
  cluster/kubernetes/flux/resources/oci/cilium.yaml
  cluster/kubernetes/flux/resources/oci/cloudnative-pg.yaml
  cluster/kubernetes/flux/resources/oci/onepassword-connect.yaml
  cluster/kubernetes/flux/resources/oci/spegel.yaml
Labels: area/kubernetes

fix(cnpg): add cosign
  cluster/kubernetes/flux/resources/oci/cloudnative-pg.yaml
Labels: area/kubernetes

fix(rook-ceph): kick helmrelease
  cluster/kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

chore(README): add DeepWiki link
  README.md
Labels: none

chore(README): add DeepWiki link
  README.md
Labels: none

fix(README): DeepWiki link
  README.md
Labels: none

feat(flux): move to flux-instance helm chart
  .github/renovate.json
  .github/renovate/flux.json
  .github/renovate/groups.json
  cluster/kubernetes/apps/flux-system/flux/flux-instance/helmrelease.yaml
  cluster/kubernetes/apps/flux-system/flux/flux-instance/instance.yaml
  cluster/kubernetes/apps/flux-system/flux/flux-instance/kustomization.yaml
  cluster/kubernetes/apps/flux-system/flux/ks.yaml
  cluster/kubernetes/flux/resources/oci/flux-instance.yaml
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
Labels: area/kubernetes, area/github

feat: deploy webhook
  cluster/kubernetes/apps/external/kustomization.yaml
  cluster/kubernetes/apps/external/webhook/app/github-webhook-secret.yaml
  cluster/kubernetes/apps/external/webhook/app/helmrelease.yaml
  cluster/kubernetes/apps/external/webhook/app/ingress/kustomization.yaml
  cluster/kubernetes/apps/external/webhook/app/ingress/webhook-http-route.yaml
  cluster/kubernetes/apps/external/webhook/app/kustomization.yaml
  cluster/kubernetes/apps/external/webhook/app/resources/hooks.yaml
  cluster/kubernetes/apps/external/webhook/app/resources/reonvate-operator.sh
  cluster/kubernetes/apps/external/webhook/ks.yaml
  cluster/kubernetes/apps/network/gateways/external/gateway.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/app/helmrelease.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
Labels: area/kubernetes

fix(webhook): incorrect path
  cluster/kubernetes/apps/external/webhook/ingress/kustomization.yaml
  cluster/kubernetes/apps/external/webhook/ingress/webhook-http-route.yaml
Labels: area/kubernetes

fix(webhook): file naming
  cluster/kubernetes/apps/external/webhook/app/resources/renovate-operator.sh
Labels: area/kubernetes

fix(webhook): trigger rules
  cluster/kubernetes/apps/external/webhook/app/resources/hooks.yaml
Labels: area/kubernetes

feat(webhook): add more repo webhooks
  cluster/kubernetes/apps/external/webhook/app/github-webhook-secret.yaml
  cluster/kubernetes/apps/external/webhook/app/resources/hooks.yaml
Labels: area/kubernetes

fix(webhook): typo in external secret
  cluster/kubernetes/apps/external/webhook/app/github-webhook-secret.yaml
Labels: area/kubernetes

fix(webhook): typo in external secret
  cluster/kubernetes/apps/external/webhook/app/github-webhook-secret.yaml
Labels: area/kubernetes

chore(k8tz): move to offical chart
  cluster/kubernetes/flux/resources/oci/k8tz.yaml
Labels: area/kubernetes

chore(k8tz): move to offical chart
  cluster/kubernetes/flux/resources/oci/k8tz.yaml
Labels: area/kubernetes

chore(tuppr): add prometheusRule
  cluster/kubernetes/apps/system-upgrade/system-upgrade/app/helmrelease.yaml
Labels: area/kubernetes

chore(ceph): yeet tb-ring
  cluster/kubernetes/apps/kube-system/irqbalance/app/helmrelease.yaml
  cluster/kubernetes/apps/kube-system/irqbalance/app/kustomization.yaml
  cluster/kubernetes/apps/kube-system/irqbalance/ks.yaml
  cluster/kubernetes/apps/kube-system/kustomization.yaml
  cluster/kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Revert "chore(ceph): yeet tb-ring"
  cluster/kubernetes/apps/kube-system/irqbalance/app/helmrelease.yaml
  cluster/kubernetes/apps/kube-system/irqbalance/app/kustomization.yaml
  cluster/kubernetes/apps/kube-system/irqbalance/ks.yaml
  cluster/kubernetes/apps/kube-system/kustomization.yaml
  cluster/kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes
