Repository chrede88/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/talos, area/github

chore(reonvate-operator): add provider spec to job
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
Labels: area/kubernetes

chore(flux-instance): manually bump flux-operator-manifests
  cluster/kubernetes/apps/flux-system/flux/flux-instance/helmrelease.yaml
Labels: area/kubernetes

chore(renovate): add customManager to catch flux-operator-manifests
  .github/renovate.json
  .github/renovate/flux-operator-manifests.json
  .github/renovate/groups.json
Labels: area/github

chore(renovate-operator): add skipforks to job
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
Labels: area/kubernetes

chore(kromgo): update queries
  cluster/kubernetes/apps/external/kromgo/app/config/config.yaml
Labels: area/kubernetes

fix(kromgo): fix queries
  cluster/kubernetes/apps/external/kromgo/app/config/config.yaml
Labels: area/kubernetes

fix(kromgo): fix colors
  cluster/kubernetes/apps/external/kromgo/app/config/config.yaml
Labels: area/kubernetes

fix(README): fix badge colors
  README.md
  cluster/kubernetes/apps/external/kromgo/app/config/config.yaml
Labels: area/kubernetes

chore(cnpg): increase pvc claim for gatus cluster
  cluster/kubernetes/apps/database/cloudnative-pg/clusters/gatus-cluster.yaml
Labels: area/kubernetes

chore(flux): add CancelHealthCheckOnNewRevision feature flag to helm-controller
  cluster/kubernetes/apps/flux-system/flux/flux-instance/helmrelease.yaml
Labels: area/kubernetes

chore(renovate): updating job to comply with v4 of the operator
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
Labels: area/kubernetes

chore(renovate): updating job to comply with v4 of the operator
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
Labels: area/kubernetes

fix(renovate): revert upgrade to v4.0.0
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
  cluster/kubernetes/flux/resources/oci/renovate-operator.yaml
Labels: area/kubernetes

feat(renovate): trying upgrade to v4.0.0 again
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
  cluster/kubernetes/flux/resources/oci/renovate-operator.yaml
Labels: area/kubernetes

fix(renovate): defining list with brackets
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
Labels: area/kubernetes

fix(renovate): adding discoveryFilters
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
Labels: area/kubernetes

fix(renovate): removing discoverTopics
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
Labels: area/kubernetes

fix(renovate): kicking job ks
  cluster/kubernetes/apps/renovate/renovate-operator/ks.yaml
Labels: area/kubernetes

fix(renovate): kicking job ks
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/ks.yaml
Labels: area/kubernetes

fix(renovate): typo
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
Labels: area/kubernetes

fix(reonvate): change platform_commit to correct value
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
Labels: area/kubernetes

chore(kromgo): update config
  cluster/kubernetes/apps/external/kromgo/app/config/config.yaml
Labels: area/kubernetes

feat: deploy crd-schema-publisher
  .github/workflows/schemas.yaml
  cluster/kubernetes/apps/internal/crd-schema-publisher/app/cloudflare-pages.yaml
  cluster/kubernetes/apps/internal/crd-schema-publisher/app/helmrelease.yaml
  cluster/kubernetes/apps/internal/crd-schema-publisher/ks.yaml
  cluster/kubernetes/apps/internal/kustomization.yaml
  cluster/kubernetes/flux/resources/oci/crd-schema-publisher.yaml
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
Labels: area/kubernetes, area/github

fix(crd-schema-publisher): fix helm values
  cluster/kubernetes/apps/internal/crd-schema-publisher/app/helmrelease.yaml
Labels: area/kubernetes

chore(archiveteam): move to usgov project
  cluster/kubernetes/apps/internal/archiveteam/app/helmrelease.yaml
Labels: area/kubernetes

fix(crd-schema-publisher): disable cosign for now
  cluster/kubernetes/flux/resources/oci/crd-schema-publisher.yaml
Labels: area/kubernetes

fix(crd-schema-publisher): try new CF project instead of reusing old
  cluster/kubernetes/apps/internal/crd-schema-publisher/app/helmrelease.yaml
Labels: area/kubernetes

fix(crd-schema-publisher): back to old project
  cluster/kubernetes/apps/internal/crd-schema-publisher/app/helmrelease.yaml
  cluster/kubernetes/apps/internal/crd-schema-publisher/app/kustomization.yaml
  cluster/kubernetes/apps/internal/crd-schema-publisher/ks.yaml
Labels: area/kubernetes

fix(crd-schema-publisher): add cosign
  cluster/kubernetes/flux/resources/oci/crd-schema-publisher.yaml
Labels: area/kubernetes

fix(crd-schema-publisher): fix cosign
  cluster/kubernetes/flux/resources/oci/crd-schema-publisher.yaml
Labels: area/kubernetes

feat: add just
  .justfile
  cluster/kubernetes/mod.just
  cluster/talos/mod.just
Labels: area/kubernetes, area/talos

chore(renovate): bump renovate version manually
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
Labels: area/kubernetes

chore(flux-operator): add anonymous auth to flux-operator ui
  cluster/kubernetes/apps/flux-system/flux/flux-operator/clusterrolebinding-flux-web.yaml
  cluster/kubernetes/apps/flux-system/flux/flux-operator/helmrelease.yaml
  cluster/kubernetes/apps/flux-system/flux/flux-operator/kustomization.yaml
Labels: area/kubernetes

chore(just): change mod path generation
  cluster/talos/mod.just
Labels: area/talos

chore(just): add kube recipes for phase=Succeeded pods
  cluster/kubernetes/mod.just
Labels: area/kubernetes

chore(talos): disable talos dashboard on physical display output
  cluster/talos/config/talconfig.yaml
  docs/update.md
Labels: area/talos

chore(tuppr): set rebootMode to powercycle
  cluster/kubernetes/apps/system-upgrade/system-upgrade/talos/talosupgrade.yaml
Labels: area/kubernetes

chore(talos): set tb kernel arg to fix tb networking connection issue
  cluster/talos/config/talconfig.yaml
Labels: area/talos

chore(docs): update docs
  docs/update.md
Labels: none

feat(talos): add imageVerificationConfig
  cluster/talos/config/patches/imageVerificationConfig.yaml
  cluster/talos/config/talconfig.yaml
Labels: area/talos

.github/labeler.yaml:

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 'cluster/kubernetes/**/*'

area/talos:
  - changed-files:
      - any-glob-to-any-file: 'cluster/talos/**/*'

area/github:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'
