Repository chrede88/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/talos, area/github

.github/labeler.yaml:

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 'cluster/kubernetes/**/*'

area/talos:
  - changed-files:
      - any-glob-to-any-file: 'cluster/talos/**/*'

area/github:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

fix(qubt): update httproute and gateway reference
  cluster/kubernetes/apps/external/qubt/ingress/qubt-http-route.yaml
  cluster/kubernetes/apps/network/gateways/external/gateway.yaml
Labels: area/kubernetes

fix(qubt): update httproute and gateway reference
  cluster/kubernetes/apps/network/gateways/external/gateway.yaml
Labels: area/kubernetes

fix(qubt): update httproute and gateway reference
  cluster/kubernetes/apps/network/gateways/external/gateway.yaml
Labels: area/kubernetes

feat: remove test deployment
  cluster/kubernetes/apps/internal/kustomization.yaml
  cluster/kubernetes/apps/internal/qubt-test/app/helmrelease.yaml
  cluster/kubernetes/apps/internal/qubt-test/app/kustomization.yaml
  cluster/kubernetes/apps/internal/qubt-test/ks.yaml
  cluster/kubernetes/apps/internal/test-secret.yaml
Labels: area/kubernetes

feat(l1nkr): move deployment to app-template
  cluster/kubernetes/apps/external/l1nkr/app/deployment.yaml
  cluster/kubernetes/apps/external/l1nkr/app/helmrelease.yaml
  cluster/kubernetes/apps/external/l1nkr/app/kustomization.yaml
  cluster/kubernetes/apps/external/l1nkr/app/service.yaml
  cluster/kubernetes/apps/external/l1nkr/ingress/l1nkr-http-route.yaml
  cluster/kubernetes/apps/network/gateways/external/gateway.yaml
Labels: area/kubernetes

fix: update podmonitor labels
  cluster/kubernetes/apps/external/l1nkr/app/pod-monitor.yaml
  cluster/kubernetes/apps/external/qubt/app/pod-monitor.yaml
Labels: area/kubernetes

feat(cloudfalre-ddns): move cloudflare-ddns to app-template
  cluster/kubernetes/apps/network/cloudflare-ddns/app/configmap.yaml
  cluster/kubernetes/apps/network/cloudflare-ddns/app/deployment.yaml
  cluster/kubernetes/apps/network/cloudflare-ddns/app/helmrelease.yaml
  cluster/kubernetes/apps/network/cloudflare-ddns/app/kustomization.yaml
Labels: area/kubernetes

feat(gatus): move to app-template
  cluster/kubernetes/apps/observability/gatus/app/configmap.yaml
  cluster/kubernetes/apps/observability/gatus/app/deployment.yaml
  cluster/kubernetes/apps/observability/gatus/app/helmrelease.yaml
  cluster/kubernetes/apps/observability/gatus/app/kustomization.yaml
  cluster/kubernetes/apps/observability/gatus/app/service-monitor.yaml
  cluster/kubernetes/apps/observability/gatus/app/serviceaccount.yaml
  cluster/kubernetes/apps/observability/gatus/app/web-service.yaml
  cluster/kubernetes/apps/observability/gatus/ingress/gatus-http-route.yaml
Labels: area/kubernetes

fix(gatus): allow icmp
  cluster/kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(gatus): allow icmp
  cluster/kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(gatus): allow icmp
  cluster/kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat(homepage): move to app-template
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
  cluster/kubernetes/apps/internal/homepage/app/deployment.yaml
  cluster/kubernetes/apps/internal/homepage/app/helmrelease.yaml
  cluster/kubernetes/apps/internal/homepage/app/kustomization.yaml
  cluster/kubernetes/apps/internal/homepage/app/service.yaml
  cluster/kubernetes/apps/internal/homepage/ingress/homepage-http-route.yaml
Labels: area/kubernetes

fix(homepage): fix targetport for service
  cluster/kubernetes/apps/internal/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(homepage): fix probes
  cluster/kubernetes/apps/internal/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(homepage): fix gatus svc url
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

feat: add digest to oci repos
  cluster/kubernetes/flux/resources/oci/external-secrets.yaml
  cluster/kubernetes/flux/resources/oci/gha-runner-scale-set-controller.yaml
  cluster/kubernetes/flux/resources/oci/gha-runner-scale-set.yaml
Labels: area/kubernetes

Revert "feat: add digest to oci repos"
  cluster/kubernetes/flux/resources/oci/external-secrets.yaml
  cluster/kubernetes/flux/resources/oci/gha-runner-scale-set-controller.yaml
  cluster/kubernetes/flux/resources/oci/gha-runner-scale-set.yaml
Labels: area/kubernetes

feat(external-secrets): update api version for components to v1
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/runners/k8s-runner/actions-runner-controller-secret.yaml
  cluster/kubernetes/apps/cert-manager/cert-manager/issuer/cloudflare-api-token-secret.yaml
  cluster/kubernetes/apps/database/cloudnative-pg/clusters/cloudnative-pg-secret.yaml
  cluster/kubernetes/apps/database/cloudnative-pg/clusters/gatus-user-secret.yaml
  cluster/kubernetes/apps/external-secrets/onepassword/store/clustersecretstore.yaml
  cluster/kubernetes/apps/external/qubt/app/ghcr-pull-secret.yaml
  cluster/kubernetes/apps/internal/homepage/app/homepage-secret.yaml
  cluster/kubernetes/apps/internal/searxng/app/externalsecret.yaml
  cluster/kubernetes/apps/network/cloudflare-ddns/app/cloudflare-ddns-secret.yaml
  cluster/kubernetes/apps/network/external-dns/internal/external-dns-unifi-secret.yaml
  cluster/kubernetes/apps/observability/gatus/app/gatus-secret.yaml
  cluster/kubernetes/apps/observability/grafana/app/grafana-user-secret.yaml
  cluster/kubernetes/apps/observability/kube-prometheus-stack/app/alertmanager-secret.yaml
  cluster/kubernetes/apps/observability/unpoller/app/unpoller-secret.yaml
Labels: area/kubernetes

feat(onepassword): update healthCheckExprs for ks
  cluster/kubernetes/apps/external-secrets/onepassword/ks.yaml
Labels: area/kubernetes

fix(onepassword): temp removing healthCheckExprs from ks
  cluster/kubernetes/apps/external-secrets/onepassword/ks.yaml
Labels: area/kubernetes

fix(onepassword): adding back healthCheckExprs from ks
  cluster/kubernetes/apps/external-secrets/onepassword/ks.yaml
Labels: area/kubernetes

fix(onepassword): removing wait from ks
  cluster/kubernetes/apps/external-secrets/onepassword/ks.yaml
Labels: area/kubernetes

chore(renovate): update groups config
  .github/renovate/groups.json
Labels: area/github

chore(cert-manager): update health checks for kustomizations
  cluster/kubernetes/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes

fix(cert-manager): remove namespace for health check of clusterissuer
  cluster/kubernetes/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes

chore: update healthchecks for remaining ks
  cluster/kubernetes/apps/action-runner-system/action-runner-controller/ks.yaml
  cluster/kubernetes/apps/database/cloudnative-pg/ks.yaml
  cluster/kubernetes/apps/database/dragonfly/ks.yaml
  cluster/kubernetes/apps/external-secrets/external-secrets/ks.yaml
  cluster/kubernetes/apps/external-secrets/onepassword/ks.yaml
  cluster/kubernetes/apps/external/kromgo/ks.yaml
  cluster/kubernetes/apps/external/l1nkr/ks.yaml
  cluster/kubernetes/apps/external/qubt/ks.yaml
  cluster/kubernetes/apps/flux-system/flux/ks.yaml
  cluster/kubernetes/apps/internal/homepage/ks.yaml
  cluster/kubernetes/apps/internal/searxng/ks.yaml
  cluster/kubernetes/apps/kube-system/cilium/ks.yaml
  cluster/kubernetes/apps/kube-system/descheduler/ks.yaml
  cluster/kubernetes/apps/kube-system/irqbalance/ks.yaml
  cluster/kubernetes/apps/kube-system/metrics-server/ks.yaml
  cluster/kubernetes/apps/network/cloudflare-ddns/ks.yaml
  cluster/kubernetes/apps/network/external-dns/ks.yaml
  cluster/kubernetes/apps/network/gateways/ks.yaml
  cluster/kubernetes/apps/observability/gatus/ingress/gatus-http-route.yaml
  cluster/kubernetes/apps/observability/gatus/ks.yaml
  cluster/kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

fix(l1nkr): fix typo
  cluster/kubernetes/apps/external/l1nkr/ks.yaml
Labels: area/kubernetes

fix(kromgo): fix typo
  cluster/kubernetes/apps/external/kromgo/ks.yaml
Labels: area/kubernetes

chore: add missing healthchecks
  cluster/kubernetes/apps/internal/searxng/ks.yaml
  cluster/kubernetes/apps/observability/grafana/ks.yaml
  cluster/kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  cluster/kubernetes/apps/observability/smartctl-exporter/ks.yaml
  cluster/kubernetes/apps/observability/unpoller/ks.yaml
  cluster/kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

fix: fix CEL expressions for all HTTPRoutes
  cluster/kubernetes/apps/external/kromgo/ks.yaml
  cluster/kubernetes/apps/external/l1nkr/ks.yaml
  cluster/kubernetes/apps/external/qubt/ks.yaml
  cluster/kubernetes/apps/internal/homepage/ks.yaml
  cluster/kubernetes/apps/internal/searxng/ks.yaml
  cluster/kubernetes/apps/kube-system/cilium/ks.yaml
  cluster/kubernetes/apps/network/gateways/ks.yaml
  cluster/kubernetes/apps/observability/gatus/ks.yaml
  cluster/kubernetes/apps/observability/grafana/ks.yaml
  cluster/kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  cluster/kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

fix(onepassword): fix healthCheck definition in ks
  cluster/kubernetes/apps/external-secrets/onepassword/ks.yaml
Labels: area/kubernetes

fix(onepassword): temp removing healthcheck from clustersecretstore
  cluster/kubernetes/apps/external-secrets/onepassword/ks.yaml
Labels: area/kubernetes

Create codeql.yml
  .github/workflows/codeql.yml
Labels: area/github

chore(workflows): remove test workflow
  .github/workflows/local-runner-test.yaml
Labels: area/github

chore(workflows): run shemas workflow on schedule
  .github/workflows/schemas.yaml
Labels: area/github

feat(cloudflare-ddns): move ddns to unifi
  cluster/kubernetes/apps/network/cloudflare-ddns/app/cloudflare-ddns-secret.yaml
  cluster/kubernetes/apps/network/cloudflare-ddns/app/helmrelease.yaml
  cluster/kubernetes/apps/network/cloudflare-ddns/app/kustomization.yaml
  cluster/kubernetes/apps/network/cloudflare-ddns/ks.yaml
  cluster/kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

chore(cert-manager): move back to official oci resources
  cluster/kubernetes/flux/resources/oci/cert-manager.yaml
Labels: area/kubernetes

Revert "🤖 Update image ghcr.io/prometheus-community/charts/prometheus-smartctl-exporter to v0.15.0"
  cluster/kubernetes/flux/resources/oci/smartctl-exporter.yaml
Labels: area/kubernetes

fix(rook-ceph) remove resource limits from operator
  cluster/kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

feat(talos) upgrade to v1.9.6
  cluster/talos/config/talconfig.yaml
  docs/update.md
Labels: area/talos
