Repository chrede88/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/talos, area/github

chore(konflate): redeploy konflate
  cluster/kubernetes/apps/external/kustomization.yaml
Labels: area/kubernetes

chore(gateway): readd konflate
  cluster/kubernetes/apps/network/gateways/external/gateway.yaml
Labels: area/kubernetes

chore(flate): change to flate test
  .github/workflows/flate.yaml
Labels: area/github

fix(konflate): fix ks healthcheck ref
  cluster/kubernetes/apps/external/konflate/ks.yaml
Labels: area/kubernetes

chore(homepage): add konflate
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

feat: add forgejo
  cluster/kubernetes/apps/database/cloudnative-pg/clusters/forgejo/forgejo-cluster.yaml
  cluster/kubernetes/apps/database/cloudnative-pg/clusters/forgejo/forgejo-superuser-secret.yaml
  cluster/kubernetes/apps/database/cloudnative-pg/clusters/forgejo/forgejo-user-secret.yaml
  cluster/kubernetes/apps/database/cloudnative-pg/clusters/forgejo/kustomization.yaml
  cluster/kubernetes/apps/database/cloudnative-pg/clusters/gatus/cloudnative-pg-secret.yaml
  cluster/kubernetes/apps/database/cloudnative-pg/clusters/gatus/gatus-cluster.yaml
  cluster/kubernetes/apps/database/cloudnative-pg/clusters/gatus/gatus-user-secret.yaml
  cluster/kubernetes/apps/database/cloudnative-pg/clusters/gatus/kustomization.yaml
  cluster/kubernetes/apps/database/dragonfly/clusters/forgejo/forgejo-cluster.yaml
  cluster/kubernetes/apps/database/dragonfly/clusters/forgejo/kustomization.yaml
  cluster/kubernetes/apps/database/dragonfly/clusters/forgejo/networkpolicy-forgejo.yaml
  cluster/kubernetes/apps/database/dragonfly/clusters/forgejo/podmonitor-forgejo.yaml
  cluster/kubernetes/apps/database/dragonfly/clusters/kustomization.yaml
  cluster/kubernetes/apps/database/dragonfly/clusters/renovate/kustomization.yaml
  cluster/kubernetes/apps/database/dragonfly/clusters/renovate/networkpolicy-renovate.yaml
  cluster/kubernetes/apps/database/dragonfly/clusters/renovate/podmonitor-renovate.yaml
  cluster/kubernetes/apps/database/dragonfly/clusters/renovate/renovate-cluster.yaml
  cluster/kubernetes/apps/database/dragonfly/clusters/searxng/kustomization.yaml
  cluster/kubernetes/apps/database/dragonfly/clusters/searxng/networkpolicy-searxng.yaml
  cluster/kubernetes/apps/database/dragonfly/clusters/searxng/podmonitor-searxng.yaml
  cluster/kubernetes/apps/database/dragonfly/clusters/searxng/searxng-cluster.yaml
  cluster/kubernetes/apps/database/dragonfly/ks.yaml
  cluster/kubernetes/apps/forgejo/forgejo/app/externalsecret.yaml
  cluster/kubernetes/apps/forgejo/forgejo/app/helmrelease.yaml
  cluster/kubernetes/apps/forgejo/forgejo/app/kustomization.yaml
  cluster/kubernetes/apps/forgejo/forgejo/ingress/httproute.yaml
  cluster/kubernetes/apps/forgejo/forgejo/ingress/kustomization.yaml
  cluster/kubernetes/apps/forgejo/forgejo/ingress/tcproute.yaml
  cluster/kubernetes/apps/forgejo/forgejo/ks.yaml
  cluster/kubernetes/apps/forgejo/kustomization.yaml
  cluster/kubernetes/apps/forgejo/namespace.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/ks.yaml
Labels: area/kubernetes

fix: transformer typo
  cluster/kubernetes/apps/forgejo/kustomization.yaml
Labels: area/kubernetes

fix: add oci arfifact
  cluster/kubernetes/flux/resources/oci/forgejo.yaml
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
Labels: area/kubernetes

chore(gateway): add forgejo routes
  cluster/kubernetes/apps/network/gateways/external/gateway.yaml
Labels: area/kubernetes

fix(ks): fix bad path
  cluster/kubernetes/apps/forgejo/forgejo/ks.yaml
Labels: area/kubernetes

fix(ks): fix bad path
  cluster/kubernetes/apps/forgejo/forgejo/ks.yaml
Labels: area/kubernetes

chore(ks): revert ks name change
  cluster/kubernetes/apps/database/dragonfly/ks.yaml
  cluster/kubernetes/apps/forgejo/forgejo/ks.yaml
  cluster/kubernetes/apps/internal/searxng/ks.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/ks.yaml
Labels: area/kubernetes

chore(homepage): update unifi url
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

chore(towonel): add tcp service for ssh
  cluster/kubernetes/apps/network/towonel/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(container): update image ghcr.io/home-operations/charts/gatus-sidecar (0.3.2 ➔ 0.3.5)"
  cluster/kubernetes/flux/resources/oci/gatus-sidecar.yaml
Labels: area/kubernetes

chore(forgejo): update externalsecrets manifests
  cluster/kubernetes/apps/forgejo/forgejo/app/externalsecret.yaml
Labels: area/kubernetes

chore(just): make docs better
  cluster/talos/mod.just
Labels: area/talos

chore(cilium): disable hubble
  cluster/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  cluster/kubernetes/apps/kube-system/cilium/ingress/hubble-http-route.yaml
  cluster/kubernetes/apps/kube-system/cilium/ingress/kustomization.yaml
  cluster/kubernetes/apps/kube-system/cilium/ks.yaml
  cluster/kubernetes/apps/network/gateways/internal/gateway.yaml
Labels: area/kubernetes

chore(cert-manager): change gatewayAPI config
  cluster/kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(cert-manager): typo
  cluster/kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): disable dashboard
  cluster/kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): enable dashboard
  cluster/kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(towonel): move to Erwan's registry
  cluster/kubernetes/flux/resources/oci/towonel-agent.yaml
Labels: area/kubernetes

chore(rook-ceph): set ceph warn reset interval and enable bdev trim
  cluster/kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(tuppr): set timeout on all checks
  cluster/kubernetes/apps/system-upgrade/system-upgrade/kubernetes/kubernetesupgrade.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/talos/talosupgrade.yaml
Labels: area/kubernetes

chore(renovate): opt-in to needed extra config
  .renovaterc.json5
Labels: none

chore(renovate): update to v7
  .renovaterc.json5
Labels: none

chore(renovate-operator): disable authorization
  cluster/kubernetes/apps/renovate/renovate-operator/app/helmrelease.yaml
Labels: area/kubernetes

chore(renovate-operator): actually disable authorization
  cluster/kubernetes/apps/renovate/renovate-operator/app/helmrelease.yaml
Labels: area/kubernetes

chore(homepage): add additional env
  cluster/kubernetes/apps/internal/homepage/app/helmrelease.yaml
Labels: area/kubernetes

chore(homepage): add homepage url to allowed hosts
  cluster/kubernetes/apps/internal/homepage/app/helmrelease.yaml
Labels: area/kubernetes

chore(homepage): add homepage url to allowed hosts
  cluster/kubernetes/apps/internal/homepage/app/helmrelease.yaml
Labels: area/kubernetes

feat(envoy): add eep to internal gateway
  cluster/kubernetes/apps/network/gateways/internal/eep-internal.yaml
  cluster/kubernetes/apps/network/gateways/internal/kustomization.yaml
Labels: area/kubernetes

chore(envoy): bump eep to 0.2.0
  cluster/kubernetes/apps/network/gateways/internal/eep-internal.yaml
Labels: area/kubernetes

feat(envoy): add eep to internal gateway (#2433)
  cluster/kubernetes/apps/network/gateways/internal/eep-internal.yaml
  cluster/kubernetes/apps/network/gateways/internal/kustomization.yaml
Labels: area/kubernetes

chore(eep): switch to tergetRef
  cluster/kubernetes/apps/network/gateways/internal/eep-internal.yaml
Labels: area/kubernetes

fix(eep): remove namespace from targetRef
  cluster/kubernetes/apps/network/gateways/internal/eep-internal.yaml
Labels: area/kubernetes

chore(eep): change loglevel
  cluster/kubernetes/apps/network/gateways/internal/eep-internal.yaml
Labels: area/kubernetes

fix(eep): fix wasm config
  cluster/kubernetes/apps/network/gateways/internal/eep-internal.yaml
Labels: area/kubernetes

chore(eep): don't show details
  cluster/kubernetes/apps/network/gateways/internal/eep-internal.yaml
Labels: area/kubernetes

.github/labeler.yaml:

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 'cluster/kubernetes/**/*'

area/talos:
  - changed-files:
      - any-glob-to-any-file: 'cluster/talos/**/*'

area/github:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'
