Repository chrede88/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/talos, area/github

.github/labeler.yaml:

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 'cluster/kubernetes/**/*'

area/talos:
  - changed-files:
      - any-glob-to-any-file: 'cluster/talos/**/*'

area/github:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

chore: readd cosign
  cluster/kubernetes/flux/resources/oci/bjw-s.yaml
  cluster/kubernetes/flux/resources/oci/cert-manager.yaml
  cluster/kubernetes/flux/resources/oci/cilium.yaml
  cluster/kubernetes/flux/resources/oci/cloudnative-pg.yaml
  cluster/kubernetes/flux/resources/oci/descheduler.yaml
  cluster/kubernetes/flux/resources/oci/external-dns.yaml
  cluster/kubernetes/flux/resources/oci/external-secrets.yaml
  cluster/kubernetes/flux/resources/oci/flux-operator.yaml
  cluster/kubernetes/flux/resources/oci/metrics-server.yaml
  cluster/kubernetes/flux/resources/oci/onepassword-connect.yaml
  cluster/kubernetes/flux/resources/oci/spegel.yaml
Labels: area/kubernetes

docs: update docs
  docs/update.md
Labels: none

docs: update docs
  docs/setup.md
Labels: none

feat(flux): add httproute to Flux web UI
  cluster/kubernetes/apps/flux-system/flux/flux-operator/httproute-flux-web.yaml
  cluster/kubernetes/apps/flux-system/flux/flux-operator/kustomization.yaml
  cluster/kubernetes/apps/network/gateways/internal/gateway.yaml
Labels: area/kubernetes

chore(flux): add gateway label to namespace
  cluster/kubernetes/apps/flux-system/namespace.yaml
Labels: area/kubernetes

fix(flux): namespace label
  cluster/kubernetes/apps/flux-system/namespace.yaml
Labels: area/kubernetes

chore(flux): add label to namespace
  cluster/kubernetes/apps/flux-system/flux/flux-instance/instance.yaml
Labels: area/kubernetes

fix(flux): fix patch
  cluster/kubernetes/apps/flux-system/flux/flux-instance/instance.yaml
Labels: area/kubernetes

chore: move back to official chart
  cluster/kubernetes/flux/resources/oci/onepassword-connect.yaml
Labels: area/kubernetes

fix: bumping chart - earlier versions doesn't exist
  cluster/kubernetes/flux/resources/oci/onepassword-connect.yaml
Labels: area/kubernetes

chore: add new renovate group for GHA runner
  .github/renovate/groups.json
Labels: area/github

chore: v1.12 first
  cluster/kubernetes/apps/system-upgrade/system-upgrade/talos/talosupgrade.yaml
Labels: area/kubernetes

chore: starting machineconfig updates
  .gitignore
  cluster/talos/config/talconfig.yaml
Labels: area/talos

chore: updating talos config for v1.12
  cluster/talos/config/patches/dhcp.yaml
  cluster/talos/config/patches/l2vip.yaml
  cluster/talos/config/patches/thunderbolt-black.yaml
  cluster/talos/config/patches/thunderbolt-death.yaml
  cluster/talos/config/patches/thunderbolt-thrash.yaml
  cluster/talos/config/talconfig.yaml
Labels: area/talos

feat: adding services to homepage
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

fix: fixing homepage layout
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

feat(homepage): add it-tools
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

chore: switch back to official oci artifact
  cluster/kubernetes/flux/resources/oci/cilium.yaml
Labels: area/kubernetes

feat(gatus-sidecar): add internal gateway to gatus
  cluster/kubernetes/apps/flux-system/flux/flux-operator/httproute-flux-web.yaml
  cluster/kubernetes/apps/internal/homepage/ingress/homepage-http-route.yaml
  cluster/kubernetes/apps/internal/it-tools/ingress/it-tools-http-route.yaml
  cluster/kubernetes/apps/internal/searxng/ingress/searxng-http-route.yaml
  cluster/kubernetes/apps/network/gateways/internal/gateway.yaml
  cluster/kubernetes/apps/observability/gatus/app/helmrelease.yaml
  cluster/kubernetes/apps/observability/grafana/ingress/grafana-http-route.yaml
  cluster/kubernetes/apps/rook-ceph/rook-ceph/ingress/ceph-http-route.yaml
Labels: area/kubernetes

fix(gatus-sidecar): add hostname to http routes
  cluster/kubernetes/apps/flux-system/flux/flux-operator/httproute-flux-web.yaml
  cluster/kubernetes/apps/internal/homepage/ingress/homepage-http-route.yaml
  cluster/kubernetes/apps/internal/it-tools/ingress/it-tools-http-route.yaml
  cluster/kubernetes/apps/internal/searxng/ingress/searxng-http-route.yaml
  cluster/kubernetes/apps/observability/grafana/ingress/grafana-http-route.yaml
  cluster/kubernetes/apps/rook-ceph/rook-ceph/ingress/ceph-http-route.yaml
Labels: area/kubernetes

chore(cert-manager): switch to shortlived certs
  cluster/kubernetes/apps/cert-manager/cert-manager/issuer/letsencrypt-production.yaml
Labels: area/kubernetes

fix(actions): add timeout to action jobs
  .github/workflows/codeql.yml
  .github/workflows/flux-local.yaml
  .github/workflows/label_maker.yaml
  .github/workflows/pre-image-pull.yaml
  .github/workflows/renovate.yaml
  .github/workflows/schemas.yaml
  .github/workflows/sync_labels.yaml
Labels: area/github

fix(actions): switch to ubuntu-slim
  .github/workflows/label_maker.yaml
  .github/workflows/sync_labels.yaml
Labels: area/github

chore(actions): switch renovate jobs to ubuntu-slim
  .github/workflows/renovate.yaml
Labels: area/github

fix(renovate): switch back to regular ubuntu image
  .github/workflows/renovate.yaml
Labels: area/github

chore(actions): move more jobs to ubuntu-slim
  .github/workflows/codeql.yml
  .github/workflows/flux-local.yaml
  .github/workflows/pre-image-pull.yaml
Labels: area/github

chore(flux): reduce memory limits
  cluster/kubernetes/apps/flux-system/flux/flux-instance/instance.yaml
  cluster/kubernetes/apps/flux-system/flux/flux-operator/helmrelease.yaml
Labels: area/kubernetes

chore(rook-ceph): move osd network to tb-ring
  cluster/kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(rook-ceph): dont use msgr2
  cluster/kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): revert back to non-tb interface
  cluster/kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): kick rook-ceph
  cluster/kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(rook-ceph): kick rook-ceph
  cluster/kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(talos): generate new talosconfig
  cluster/talos/config/talsecret.sops.yaml
Labels: area/talos

chore(rook-ceph): trying tb ring again
  cluster/kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(renovate-operator): deploy renovate operator
  cluster/kubernetes/apps/network/gateways/internal/gateway.yaml
  cluster/kubernetes/apps/renovate-operator/kustomization.yaml
  cluster/kubernetes/apps/renovate-operator/namespace.yaml
  cluster/kubernetes/apps/renovate-operator/renovate-operator/app/helmrelease.yaml
  cluster/kubernetes/apps/renovate-operator/renovate-operator/app/kustomization.yaml
  cluster/kubernetes/apps/renovate-operator/renovate-operator/ingress/kustomization.yaml
  cluster/kubernetes/apps/renovate-operator/renovate-operator/ingress/renovate-http-route.yaml
  cluster/kubernetes/apps/renovate-operator/renovate-operator/jobs/bb17-pem.yaml
  cluster/kubernetes/apps/renovate-operator/renovate-operator/jobs/chrede88.yaml
  cluster/kubernetes/apps/renovate-operator/renovate-operator/jobs/github-access-token.yaml
  cluster/kubernetes/apps/renovate-operator/renovate-operator/jobs/github-auth.yaml
  cluster/kubernetes/apps/renovate-operator/renovate-operator/jobs/kustomization.yaml
  cluster/kubernetes/apps/renovate-operator/renovate-operator/ks.yaml
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
  cluster/kubernetes/flux/resources/oci/renovate-operator.yaml
Labels: area/kubernetes

chore(renovate-operator): rename namespace
  .github/workflows/renovate.yaml
  cluster/kubernetes/apps/renovate/kustomization.yaml
  cluster/kubernetes/apps/renovate/namespace.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/app/helmrelease.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/app/kustomization.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/ingress/kustomization.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/ingress/renovate-http-route.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/bb17-pem.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/github-access-token.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/github-auth.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/github-private-pull.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/kustomization.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/ks.yaml
Labels: area/kubernetes, area/github

chore(renovate-operator): populate secrets
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/github-access-token.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/github-auth.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/github-private-pull.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/github-pull-token.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/kustomization.yaml
Labels: area/kubernetes

chore(renovate-operator): update renovate
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
Labels: area/kubernetes

chore(renovate-operator): disable webhook
  cluster/kubernetes/apps/renovate/renovate-operator/app/helmrelease.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
Labels: area/kubernetes

fix(renovate-operator): fix kustomization paths
  cluster/kubernetes/apps/renovate/renovate-operator/ks.yaml
Labels: area/kubernetes
