Repository chrede88/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/talos, area/github

.github/labeler.yaml:

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 'cluster/kubernetes/**/*'

area/talos:
  - changed-files:
      - any-glob-to-any-file: 'cluster/talos/**/*'

area/github:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'

:zap: adding reonvate custommanager for talos
  .github/renovate/talos.json
Labels: area/github

:zap: adding reonvate custommanager for talos
  .github/renovate.json
Labels: area/github

:wrench: fixing renovate custommanager for talos
  .github/renovate/talos.json
Labels: area/github

:wrench: fixing renovate regex
  .github/renovate/talos.json
Labels: area/github

:wrench: fixing renovate regex (maybe)
  .github/renovate/talos.json
  .github/workflows/renovate.yaml
Labels: area/github

:wrench: fixing renovate regex
  .github/renovate/talos.json
Labels: area/github

:wrench: adding bind-address for controllerManager, Scheduler and Etcd
  cluster/talos/config/talconfig.yaml
Labels: area/talos

:wrench: updating renovate config
  .github/renovate/flux.json
  .github/renovate/talos.json
Labels: area/github

:memo: updating talos
  docs/update.md
Labels: none

:zap: add alertmanagerConfig
  cluster/kubernetes/observability/kube-prometheus-stack/app/alertmanager-secret.yaml
  cluster/kubernetes/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  cluster/kubernetes/observability/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes

:wrench: add SOPS to kube-prometheus-stack kustomization
  cluster/kubernetes/observability/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

:wrench: moving flux alerts to alertmanager
  cluster/kubernetes/cert-manager/notifications.yaml
  cluster/kubernetes/cert-manager/slack-token.yaml
  cluster/kubernetes/database/notifications.yaml
  cluster/kubernetes/database/slack-token.yaml
  cluster/kubernetes/external/notifications.yaml
  cluster/kubernetes/external/slack-token.yaml
  cluster/kubernetes/flux-system/notifications.yaml
  cluster/kubernetes/flux-system/slack-token.yaml
  cluster/kubernetes/internal/notifications.yaml
  cluster/kubernetes/internal/slack-token.yaml
  cluster/kubernetes/kube-system/notifications.yaml
  cluster/kubernetes/kube-system/slack-token.yaml
  cluster/kubernetes/network/notifications.yaml
  cluster/kubernetes/network/slack-token.yaml
  cluster/kubernetes/observability/notifications.yaml
  cluster/kubernetes/observability/slack-token.yaml
  cluster/kubernetes/rook-ceph/notifications.yaml
Labels: area/kubernetes

:wrench: moving flux alerts to alertmanager
  cluster/kubernetes/cert-manager/kustomization.yaml
  cluster/kubernetes/database/kustomization.yaml
  cluster/kubernetes/external/kustomization.yaml
  cluster/kubernetes/flux-system/kustomization.yaml
  cluster/kubernetes/internal/kustomization.yaml
  cluster/kubernetes/kube-system/kustomization.yaml
  cluster/kubernetes/network/kustomization.yaml
  cluster/kubernetes/observability/kustomization.yaml
  cluster/kubernetes/rook-ceph/kustomization.yaml
Labels: area/kubernetes

:wrench: fixing typo
  cluster/kubernetes/network/notifications.yaml
Labels: area/kubernetes

:wrench: set all ks prune to false
  cluster/kubernetes/apps/cert-manager/cert-manager/ks.yaml
  cluster/kubernetes/apps/external/kromgo/ks.yaml
  cluster/kubernetes/apps/external/l1nkr/ks.yaml
  cluster/kubernetes/apps/external/qubt/ks.yaml
  cluster/kubernetes/apps/internal/homepage/ks.yaml
  cluster/kubernetes/apps/network/cloudflare-ddns/ks.yaml
  cluster/kubernetes/apps/network/external-dns/ks.yaml
  cluster/kubernetes/apps/network/gateways/ks.yaml
  cluster/kubernetes/apps/network/orbitalsync/ks.yaml
  cluster/kubernetes/apps/network/pihole/ks.yaml
  cluster/kubernetes/apps/observability/gatus/ks.yaml
  cluster/kubernetes/apps/observability/grafana/ks.yaml
  cluster/kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  cluster/kubernetes/apps/observability/unpoller/ks.yaml
  cluster/kubernetes/flux/main/ks.yaml
Labels: area/kubernetes

:wrench: prepare flux refactor
  cluster/kubernetes/cert-manager/cert-manager/ks.yaml
  cluster/kubernetes/external/kromgo/ks.yaml
  cluster/kubernetes/external/l1nkr/ks.yaml
  cluster/kubernetes/external/qubt/ks.yaml
  cluster/kubernetes/internal/homepage/ks.yaml
  cluster/kubernetes/network/cloudflare-ddns/ks.yaml
  cluster/kubernetes/network/external-dns/ks.yaml
  cluster/kubernetes/network/gateways/ks.yaml
  cluster/kubernetes/network/orbitalsync/ks.yaml
  cluster/kubernetes/network/pihole/ks.yaml
  cluster/kubernetes/observability/gatus/ks.yaml
  cluster/kubernetes/observability/grafana/ks.yaml
  cluster/kubernetes/observability/kube-prometheus-stack/ks.yaml
  cluster/kubernetes/observability/unpoller/ks.yaml
Labels: area/kubernetes

:wrench: fixing namespace overwrite
  cluster/kubernetes/apps/cert-manager/kustomization.yaml
  cluster/kubernetes/apps/database/kustomization.yaml
  cluster/kubernetes/apps/external/kustomization.yaml
  cluster/kubernetes/apps/flux-system/kustomization.yaml
  cluster/kubernetes/apps/internal/kustomization.yaml
  cluster/kubernetes/apps/kube-system/kustomization.yaml
  cluster/kubernetes/apps/network/kustomization.yaml
  cluster/kubernetes/apps/observability/kustomization.yaml
  cluster/kubernetes/apps/rook-ceph/kustomization.yaml
  cluster/kubernetes/flux/components/kustomization.yaml
Labels: area/kubernetes

:wrench: temp remove alerts
  cluster/kubernetes/apps/cert-manager/kustomization.yaml
  cluster/kubernetes/apps/database/kustomization.yaml
  cluster/kubernetes/apps/external/kustomization.yaml
  cluster/kubernetes/apps/flux-system/kustomization.yaml
  cluster/kubernetes/apps/internal/kustomization.yaml
  cluster/kubernetes/apps/kube-system/kustomization.yaml
  cluster/kubernetes/apps/network/kustomization.yaml
  cluster/kubernetes/apps/observability/kustomization.yaml
  cluster/kubernetes/apps/rook-ceph/kustomization.yaml
Labels: area/kubernetes

:wrench: setting prune true for cert-manager ns
  cluster/kubernetes/apps/cert-manager/cert-manager/ks.yaml
  cluster/kubernetes/apps/cert-manager/kustomization.yaml
Labels: area/kubernetes

:wrench: setting prune true for external ns and main ks
  cluster/kubernetes/apps/external/kromgo/ks.yaml
  cluster/kubernetes/apps/external/kustomization.yaml
  cluster/kubernetes/apps/external/l1nkr/ks.yaml
  cluster/kubernetes/apps/external/qubt/ks.yaml
  cluster/kubernetes/flux/main/ks.yaml
Labels: area/kubernetes

:wrench: fixing kustomize transformer typos
  cluster/kubernetes/apps/database/kustomization.yaml
  cluster/kubernetes/apps/external/kustomization.yaml
  cluster/kubernetes/apps/flux-system/kustomization.yaml
  cluster/kubernetes/apps/internal/kustomization.yaml
  cluster/kubernetes/apps/kube-system/kustomization.yaml
  cluster/kubernetes/apps/network/kustomization.yaml
  cluster/kubernetes/apps/observability/kustomization.yaml
  cluster/kubernetes/apps/rook-ceph/kustomization.yaml
Labels: area/kubernetes

:wrench: setting prune true for internal ns
  cluster/kubernetes/apps/database/kustomization.yaml
  cluster/kubernetes/apps/flux-system/kustomization.yaml
  cluster/kubernetes/apps/internal/homepage/ks.yaml
  cluster/kubernetes/apps/internal/kustomization.yaml
Labels: area/kubernetes

:wrench: setting prune true for remaining namespaces
  cluster/kubernetes/apps/kube-system/kustomization.yaml
  cluster/kubernetes/apps/network/cloudflare-ddns/ks.yaml
  cluster/kubernetes/apps/network/external-dns/ks.yaml
  cluster/kubernetes/apps/network/gateways/ks.yaml
  cluster/kubernetes/apps/network/kustomization.yaml
  cluster/kubernetes/apps/network/orbitalsync/ks.yaml
  cluster/kubernetes/apps/network/pihole/ks.yaml
  cluster/kubernetes/apps/observability/gatus/ks.yaml
  cluster/kubernetes/apps/observability/grafana/ks.yaml
  cluster/kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  cluster/kubernetes/apps/observability/kustomization.yaml
  cluster/kubernetes/apps/observability/unpoller/ks.yaml
  cluster/kubernetes/apps/rook-ceph/kustomization.yaml
Labels: area/kubernetes

:wrench: update cilium helmfile to new repo layout
  cluster/talos/helmfile/helmfile.yaml
Labels: area/talos

:memo: update cert-manager docs
  docs/cert-manager.md
Labels: none

:memo: update cilium docs
  docs/cilium.md
Labels: none

:memo: update cnpg docs
  docs/cloudnative-pg.md
Labels: none

:memo: update external-dns docs
  docs/external-dns.md
Labels: none

:memo: update flux-operator docs
  docs/flux-operator.md
Labels: none

:memo: update flux docs
  docs/fluxcd.md
Labels: none

:memo: update ingress docs
  docs/ingress.md
Labels: none

:memo: update pihole docs
  docs/pihole.md
Labels: none

:memo: update prometheus docs
  docs/prometheus.md
Labels: none

:memo: update rook-ceph docs
  docs/rook-ceph.md
Labels: none

:zap: adding smartctl-exporter
  cluster/kubernetes/apps/observability/grafana/app/helmrelease.yaml
  cluster/kubernetes/apps/observability/kustomization.yaml
  cluster/kubernetes/apps/observability/smartctl-exporter/app/helmrelease.yaml
  cluster/kubernetes/apps/observability/smartctl-exporter/app/kustomization.yaml
  cluster/kubernetes/apps/observability/smartctl-exporter/app/prometheusrule,yaml
  cluster/kubernetes/apps/observability/smartctl-exporter/ks.yaml
Labels: area/kubernetes

:wrench: fixing filename typo
  cluster/kubernetes/apps/observability/smartctl-exporter/app/prometheusrule.yaml
Labels: area/kubernetes

:wrench: fixing dashboard datasource
  cluster/kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

:memo: update renovate docs
  docs/renovate.md
Labels: none

:memo: update README
  README.md
Labels: none

:memo: update README
  README.md
Labels: none
