Repository chrede88/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/talos, area/github

Revert "feat(container): update image ghcr.io/mogenius/helm-charts/renovate-operator ( 4.5.2 → 4.6.0 )"
  cluster/kubernetes/flux/resources/oci/renovate-operator.yaml
Labels: area/kubernetes

feat(renovate): add redis/dragonfly cache
  cluster/kubernetes/apps/database/dragonfly/cluster/kustomization.yaml
  cluster/kubernetes/apps/database/dragonfly/cluster/renovate-cluster-podmonitor.yaml
  cluster/kubernetes/apps/database/dragonfly/cluster/renovate-cluster.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/jobs/chrede88.yaml
  cluster/kubernetes/apps/renovate/renovate-operator/ks.yaml
Labels: area/kubernetes

fix(dragonfly): open access to dragonfly metrics
  cluster/kubernetes/apps/database/dragonfly/cluster/networkpolicy-dragonfly-renovate.yaml
  cluster/kubernetes/apps/database/dragonfly/cluster/networkpolicy-dragonfly.yaml
Labels: area/kubernetes

fix(dragonfly): open access to dragonfly metrics
  cluster/kubernetes/apps/database/dragonfly/cluster/kustomization.yaml
Labels: area/kubernetes

chore(grafana): add dragonfly dsahboard
  cluster/kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(gatus): set automountServiceAccountToken true
  cluster/kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore(grafana): add tuppr dashboard
  cluster/kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(grafana): update url to tuppr dashboard
  cluster/kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(grafana): fix typo
  cluster/kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(gatus): add homepage link button
  cluster/kubernetes/apps/observability/gatus/app/resources/config.yaml
Labels: area/kubernetes

feat(readme): moving animated emoji into repo
  README.md
  assets/gif/lightning.gif
Labels: none

fix(readme): animated emoji
  README.md
  assets/gif/lightning.gif
Labels: none

feat: add grafana-operator
  cluster/kubernetes/apps/observability/grafana-operator/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/observability/grafana-operator/app/helmrelease.yaml
  cluster/kubernetes/apps/observability/grafana-operator/app/kustomization.yaml
  cluster/kubernetes/apps/observability/grafana-operator/ingress/grafana-http-route.yaml
  cluster/kubernetes/apps/observability/grafana-operator/ingress/kustomization.yaml
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafana-user-secret.yaml
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafana.yaml
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafanaDatasource.yaml
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafanaFolders.yaml
  cluster/kubernetes/apps/observability/grafana-operator/instance/kustomization.yaml
  cluster/kubernetes/apps/observability/grafana-operator/ks.yaml
  cluster/kubernetes/apps/observability/grafana/app/helmrelease.yaml
  cluster/kubernetes/apps/observability/kustomization.yaml
  cluster/kubernetes/flux/resources/oci/grafana-operator.yaml
  cluster/kubernetes/flux/resources/oci/kustomization.yaml
Labels: area/kubernetes

feat(grafana-operator): add dashboards
  cluster/kubernetes/apps/cert-manager/cert-manager/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  cluster/kubernetes/apps/database/cloudnative-pg/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/database/cloudnative-pg/app/helmrelease.yaml
  cluster/kubernetes/apps/database/cloudnative-pg/app/kustomization.yaml
  cluster/kubernetes/apps/database/dragonfly/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/database/dragonfly/app/helmrelease.yaml
  cluster/kubernetes/apps/database/dragonfly/app/kustomization.yaml
  cluster/kubernetes/apps/external-secrets/external-secrets/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  cluster/kubernetes/apps/flux-system/flux/flux-operator/grafanaDashboard.yaml
  cluster/kubernetes/apps/flux-system/flux/flux-operator/kustomization.yaml
  cluster/kubernetes/apps/kube-system/cilium/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  cluster/kubernetes/apps/network/envoy-gateway/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/network/envoy-gateway/app/kustomization.yaml
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafanaFolders.yaml
  cluster/kubernetes/apps/observability/kube-prometheus-stack/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  cluster/kubernetes/apps/observability/smartctl-exporter/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/observability/smartctl-exporter/app/kustomization.yaml
  cluster/kubernetes/apps/observability/unpoller/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/observability/unpoller/app/kustomization.yaml
  cluster/kubernetes/apps/rook-ceph/rook-ceph/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/app/helmrelease.yaml
Labels: area/kubernetes

fix(grafana-operator): move dashboard to instance ks
  cluster/kubernetes/apps/observability/grafana-operator/app/kustomization.yaml
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafanaDashboard.yaml
  cluster/kubernetes/apps/observability/grafana-operator/instance/kustomization.yaml
Labels: area/kubernetes

fix(grafana-operator): fix typo
  cluster/kubernetes/apps/observability/grafana-operator/ingress/grafana-http-route.yaml
Labels: area/kubernetes

fix(grafana-operator): update dashboards and main grafana instance
  cluster/kubernetes/apps/cert-manager/cert-manager/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/database/cloudnative-pg/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/database/dragonfly/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/external-secrets/external-secrets/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/flux-system/flux/flux-operator/grafanaDashboard.yaml
  cluster/kubernetes/apps/kube-system/cilium/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/network/envoy-gateway/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafana.yaml
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafanaDashboard.yaml
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafanaDatasource.yaml
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafanaFolders.yaml
  cluster/kubernetes/apps/observability/kube-prometheus-stack/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/observability/smartctl-exporter/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/observability/unpoller/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/rook-ceph/rook-ceph/app/grafanaDashboard.yaml
Labels: area/kubernetes

fix(grafana-operator): path to home dashboard
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafana.yaml
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafanaFolders.yaml
Labels: area/kubernetes

chore(grafana-operator): moving grafanaFolders and enable cilium dashboards
  cluster/kubernetes/apps/database/cloudnative-pg/app/grafanaFolder.yaml
  cluster/kubernetes/apps/database/cloudnative-pg/app/kustomization.yaml
  cluster/kubernetes/apps/flux-system/flux/flux-operator/grafanaFolder.yaml
  cluster/kubernetes/apps/flux-system/flux/flux-operator/kustomization.yaml
  cluster/kubernetes/apps/kube-system/cilium/app/grafanaFolder.yaml
  cluster/kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  cluster/kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  cluster/kubernetes/apps/network/envoy-gateway/app/grafanaFolder.yaml
  cluster/kubernetes/apps/network/envoy-gateway/app/kustomization.yaml
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafanaFolders.yaml
  cluster/kubernetes/apps/rook-ceph/rook-ceph/app/grafanaFolder.yaml
  cluster/kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
Labels: area/kubernetes

chore(grafana-operator): moving misc dashboards to General folder
  cluster/kubernetes/apps/kube-system/spegel/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  cluster/kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/app/helmrelease.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/app/kustomization.yaml
Labels: area/kubernetes

chore(grafana-operator): set home_page
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafana.yaml
Labels: area/kubernetes

chore(grafana-operator): set home_page
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafana.yaml
Labels: area/kubernetes

chore(grafana-operator): set home_page for real this time
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafana.yaml
Labels: area/kubernetes

chore(homepage): update config for grafana operator widget
  cluster/kubernetes/apps/internal/homepage/app/configmap.yaml
Labels: area/kubernetes

chore(kubelet): add imageGC thresholds
  cluster/talos/config/talconfig.yaml
Labels: area/talos

feat(docs): add debug container docs
  docs/README.md
  docs/debug-containers.md
Labels: none

chore(grafana-operator): add last dsashboards to misc folder
  cluster/kubernetes/apps/cert-manager/cert-manager/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/kube-system/spegel/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafanaFolders.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/app/grafanaDashboard.yaml
Labels: area/kubernetes

chore(grafana-operator): remove misc folder so I can change uid
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafanaFolders.yaml
Labels: area/kubernetes

chore(grafana-operator): readd misc-folder to overwrite uid
  cluster/kubernetes/apps/observability/grafana-operator/instance/grafanaFolders.yaml
Labels: area/kubernetes

chore(grafana-operator): reference as metadata.uid (hack)
  cluster/kubernetes/apps/cert-manager/cert-manager/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/kube-system/spegel/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/app/grafanaDashboard.yaml
Labels: area/kubernetes

chore(grafana-operator): go back to general folder
  cluster/kubernetes/apps/cert-manager/cert-manager/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/kube-system/spegel/app/grafanaDashboard.yaml
  cluster/kubernetes/apps/system-upgrade/system-upgrade/app/grafanaDashboard.yaml
Labels: area/kubernetes

feat: setup cluster bootstrap
  .justfile
  cluster/bootstrap/helmfile.d/apps.yaml
  cluster/bootstrap/helmfile.d/crds.yaml
  cluster/bootstrap/helmfile.d/templates/values-flux.yaml.gotmpl
  cluster/bootstrap/helmfile.d/templates/values.yaml.gotmpl
  cluster/bootstrap/kustomize/apps/external-secrets/kustomization.yaml
  cluster/bootstrap/kustomize/apps/external-secrets/secret.yaml
  cluster/bootstrap/kustomize/apps/kustomization.yaml
  cluster/bootstrap/kustomize/componenets/namespace/kustomization.yaml
  cluster/bootstrap/kustomize/componenets/namespace/namespace.yaml
  cluster/bootstrap/mod.just
  cluster/kubernetes/apps/kube-system/cilium/app/helm-values.yaml
  cluster/kubernetes/mod.just
  cluster/talos/mod.just
Labels: area/kubernetes, area/talos

chore(bootstrap): remove old helmfile
  cluster/talos/helmfile/helmfile.yaml
Labels: area/talos

chore(just): add log recipe
  .justfile
Labels: none

fix(talos): temp remove ImageVerificationConfig
  cluster/talos/config/talconfig.yaml
Labels: area/talos

fix(talconfig): kubernetes upgrade running now
  cluster/talos/config/talconfig.yaml
Labels: area/talos

fix(just): fix doc strings
  cluster/kubernetes/mod.just
Labels: area/kubernetes

chore(renovate): add custom talos datasource -> factory
  .github/renovate.json
  .github/renovate/labels.json
  .github/renovate/talos-factory-datasource.json
  .github/renovate/talos.json
  cluster/kubernetes/apps/system-upgrade/system-upgrade/talos/talosupgrade.yaml
  cluster/talos/config/talconfig.yaml
Labels: area/kubernetes, area/talos, area/github

chore(kromgo): testing new humanBytes functions
  cluster/kubernetes/apps/external/kromgo/app/config/config.yaml
  cluster/kubernetes/apps/external/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

chore(kromgo): update to v0.10.0
  cluster/kubernetes/apps/external/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: 'cluster/kubernetes/**/*'

area/talos:
  - changed-files:
      - any-glob-to-any-file: 'cluster/talos/**/*'

area/github:
  - changed-files:
      - any-glob-to-any-file: '.github/**/*'
